<div class="headerMain">
  <div id="headerInfo">
    <a href="https://www.caregiving.com" class="headerLogo"></a>
    <a href="https://www.caregiving.com/manage/account" id="headerUserIcon"
      ><i class="fa fa-user-circle headerUserIcon"></i
    ></a>
    <a
      href="https://www.caregiving.com/manage/account"
      class="headerUserIcon"
      id="headerUserPhoto"
    ></a>
    <a
      href="https://www.caregiving.com/login"
      id="headerSignIn"
      class="headerUser"
      >Sign in</a
    >
  </div>
</div>
