//  _____             __ _   
// |  __ \           / _| |  
// | |  | |_ __ __ _| |_| |_ 
// | |  | | '__/ _` |  _| __|
// | |__| | | | (_| | | | |_ 
// |_____/|_|  \__,_|_|  \__|

.discard-draft-modal .modal-inner-container {
  padding: 15px 20px;
  width: 310px;
  .modal-body {
      .instructions {
          font-size: 18px;
          line-height: 25px;
          margin-top: 10px;
      }
  }
  .modal-footer {
      margin-right: 0px;
      justify-content: center;
      float: none;
      button:first-child {
        order: 3;
      }
      button:nth-child(2) {
        order: 2;
      }
      button:nth-child(3) {
        order: 1;
      }
      button {
          font-weight: 800;
          font-size: 13px;
          line-height: 18px;
          height: 40px;
          padding: 10px 15px;
      }
  }
}
