//   ______          _            
//  |  ____|        | |           
//  | |__ ___   ___ | |_ ___ _ __ 
//  |  __/ _ \ / _ \| __/ _ \ '__|
//  | | | (_) | (_) | ||  __/ |   
//  |_|  \___/ \___/ \__\___|_|   
.footer {
  background: var(--color-ghost-white);
}
.footerMain {
  padding: 14px 20px 35px 25px;
}
.footerLogo {
  background-image: url($caregiving-logo);
  width: 180px;
  height: 24px;
}
.footerCopyright {
  font-size: 16px;
  line-height: 2.13;
  color: var(--color-oslo-gray);
  margin-top: 10px;
}
.footerLink {
  display: flex;
  flex-direction: column;
}
.footerTitle {
  font-weight: bold;
  font-size: 17px;
  margin-top: 25px;
  margin-bottom: 8px;
}
.footerItem {
  font-size: 16px;
  line-height: 2.13;
  color: var(--color-oslo-gray) !important;
  margin-bottom: 7px;
}
.footerContactUs {
  display: flex;
  justify-content: space-between;
  width: 170px;
  margin-bottom: 44px;
}
.footerSocialIcon {
  height: 27px;
  width: 27px;
  font-size: 27px;
  color: var(--color-oslo-gray) !important;
}
.footerSocialFacebook {
  background: var(--color-oslo-gray);
  border-radius: 27px;
}
.footerSocialIconFacebook {
  color: var(--color-ghost-white) !important;
  margin-left: 5px;
  margin-top: -2px;
}
