//   _    _                _
//  | |  | |              | |
//  | |__| | ___  __ _  __| | ___ _ __
//  |  __  |/ _ \/ _` |/ _` |/ _ \ '__|
//  | |  | |  __/ (_| | (_| |  __/ |
//  |_|  |_|\___|\__,_|\__,_|\___|_|

#main {
  margin-top: 80px;
}
#headerInfo {
  margin-right: 20px;
  margin-left: 30px;
}
.flex {
  margin: 0px 0 0px 30px;
}
.headerMenuIcon {
  font-size: 20px !important;
  width: 20px;
  height: 20px;
  margin-left: 28px;
}
.headerMenu {
  position: fixed;
  z-index: 1020;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}
.headerUserIcon {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin:0 30px 0 0;
}

.headerLogo {
  margin-left: -15px;
  width: 180px;
  height: 24px;
}
.headerLinks{
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.headerLink {
  font-weight: bold;
  margin-right: 3.6rem;
  padding: 15px 0;
  color: var(--color-charcoal-gray) !important;
  font-size: 16px;
}
.headerSearch {
  width: 100%;
  border: 1px solid var(--color-mischka);
  border-radius: 8px;
  padding: 12px 18px;
  display: flex;
  font-weight: 500;
  color: var(--color-aluminium) !important;
  height: 20px;
  margin: 14px -15px 15px 0;
}
.headerSearchIcon {
  font-size: 18px !important;
  height: 24px;
  width: 24px;
  margin-right: 7px;
  color: var(--color-black);
}
#headerSignIn {
  background: var(--color-blue-ribbon);
  margin-left: -24px;
  font-size: 1.171rem;
  font-weight: 500;
  color: var(--color-white);
  padding: 5px 15px;
  border-radius: 6px;
}
.d-header {
  height: 10em;
  & .title {
    white-space: normal;
  }
}

.d-header-wrap {
  margin-top: 90px;
}