//
//  _    _                                             
//  | |  | |                                            
//  | |__| | ___  _ __ ___   ___ _ __   __ _  __ _  ___ 
//  |  __  |/ _ \| '_ ` _ \ / _ \ '_ \ / _` |/ _` |/ _ \
//  | |  | | (_) | | | | | |  __/ |_) | (_| | (_| |  __/
//  |_|  |_|\___/|_| |_| |_|\___| .__/ \__,_|\__, |\___|
//                              | |           __/ |     
//                              |_|          |___/      

#navigation-bar {
    align-items: center;
}

.navigation-controls {
    align-items: center;
    margin-bottom: 0;
}

.list-controls {
    & .navigation-container {
        & button.select-kit-header {
            & .selected-name, .d-icon {
                padding: 0;
            }
        }
        & .category-navigation {
            display: block;
        }
    }
    & .navigation-toggle {
        height: 40px;
        border-radius: 6px;
    }
    & .nav-pills {
        & > li {
            & > a {
                justify-content: space-between;
                width: 100%;
                padding: 0;
                font-size: 15px;
            }
        }
        & .navigation-toggle {
            flex: 1 1 100%;
            margin-right: 10px;
            border: 1px solid var(--color-mischka);
            border-radius: 6px;
        }
        & .drop {
            padding: 0 10px;
            border-radius: 8px;
            & li {
                padding: 14px 0;
                &:not(:last-child) {
                    border-bottom: 1px solid var(--color-mischka);
                }
            }
        }
    }
    & .container {
        display: block;
        height: auto;
        & #create-topic {
            align-self: center;
            font-size: 14px;
            font-weight: 600;
            line-height: normal;
        }
    }
}

.topic-list-item {
    &.visited {
        & a.title:not(.badge-notification) {
            font-size: 14px;
        }
    }
}

.topic-list {
    & .main-link {
        & a.title {
            font-size: 14px;
        }
    }
    & .num {
        &.posts-map button {
            font-size: 14px;
        }
        &.activity a {
            font-size: 14px;
        }
    }
}

.badge-wrapper {
    & .badge-category {
        & .category-name {
            font-size: 14px;
        }
    }
}

.footer-message h3 {
    font-size: 16px;
    line-height: normal;
}

.select-kit {
    &.dropdown-select-box.period-chooser {
        margin-top: 20px;
    }
}

.top-lists {
    margin-top: 12px;
}

.category-list {
    & .category-logo {
        width: 40px;
    }
}
