//   _        __      
//  (_)      / _|     
//   _ _ __ | |_ ___  
//  | | '_ \|  _/ _ \ 
//  | | | | | || (_) |
//  |_|_| |_|_| \___/ 

.nav-item-about {
    padding: 0 !important;
}

.body-page {
    .nav-pills {
        display: flex;
    }
    & li {
        margin: 0;
        padding: 0 !important;
        text-align: center;
    }
}

.about h2 {
    line-height: 1.2;
}

div[itemprop="mainContentOfPage"] {
    & li {
        text-align: left;
    }
    & h2 a {
        font-size: 20px;
        line-height: 1.09;
    }
}
