//   _______          _        ____
//  |__   __|        (_)      |  _ \
//     | | ___  _ __  _  ___  | |_) | _____  __
//     | |/ _ \| '_ \| |/ __| |  _ < / _ \ \/ /
//     | | (_) | |_) | | (__  | |_) | (_) >  <
//     |_|\___/| .__/|_|\___| |____/ \___/_/\_\
//             | |
//             |_|

#reply-control {
  height: auto !important;
  margin-top: 100px;
  .d-editor-preview-wrapper {
    top: 100px !important;
    .d-editor-preview {
      margin: 5px 5px 20px;
      width: 97% !important;
      height: 300px !important;
      border: 1px solid var(--color-mischka);
      padding: 15px;
      border-radius: 10px;
      overflow: scroll;
    }
  }
  .d-editor-container .d-editor-textarea-wrapper textarea{
    min-height: 150px;
  }
  .reply-area {
    box-shadow: 18px 8px 82px -30px rgba(var(--color-big-stone), 0.44);
    margin: 5px;
  }
  .select-kit.is-expanded .select-kit-body {
    margin: 0px 5px !important;
    width: 340px !important;
  }
  .select-kit {
    .select-kit-header {
      .caret-icon {
        padding-right: 5px;
        font-size: 13px;
      }
      .selected-name {
        padding: 0px;
      }
    }
    .submit-panel {
      .mobile-preview {
        display: none;
      }
    }
  }
}
