//   _____                     _     
//  / ____|                   | |    
// | (___   ___  __ _ _ __ ___| |__  
//  \___ \ / _ \/ _` | '__/ __| '_ \ 
//  ____) |  __/ (_| | | | (__| | | |
// |_____/ \___|\__,_|_|  \___|_| |_|
//

.search-container {
    display: flex;
    & .search-label {
        margin-bottom: 15px;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.46;
    }
    & .search-bar {
        & .search-query {
            height: auto !important;
            margin-right: 12px;
            padding: 12px 0;
            background: url($cg-search-icon) no-repeat 17px center;
            background-size: 25px;
            font-size: 15px;
            font-weight: 500;
            line-height: normal;
            text-indent: 46px;
        }
    }
    & .search-notice {
        padding-bottom: 0;
    }
    & .search-advanced {
        width: 100%;
        & .search-title {
            display: none;
        }
        & .search-info {
            align-items: flex-start;
            width: 100%;
            margin-bottom: 0;
            padding-right: 0;
            border-bottom: 0;
            box-sizing: border-box;
        }
        & .search-context {
            width: 100%;
        }
        & .search-results {
            width: 100%;
            float: left;
            padding-right: 0;
            & .fps-result {
                & .avatar {
                    width: 50px;
                    height: 50px;
                }
                & .search-link {
                    & .topic-title {
                        color: var(--color-charcoal-gray);
                        font-size: 15px;
                        font-weight: 600;
                        line-height: normal;
                    }
                }
                & .search-category {
                    & .badge-wrapper {
                        & .badge-category {
                            font-size: 15px;
                            font-weight: 600;
                            line-height: normal;
                        }
                    }
                }
                & .blurb {
                    font-size: 14px;
                    & span.relative-date {
                        font-size: 14px;
                    }
                }
            }
            & .search-footer {
                margin-top: 0;
                font-size: 16px;
                font-weight: 600;
                line-height: normal;
            }
            & .no-results-suggestion {
                margin-top: 20px;
            }
        }
    }
    & .search-advanced-sidebar {
        width: 100%;
        & .search-advanced-title {
            font-size: 20px;
            line-height: normal;
        }
        & .search-advanced-filters {
            padding: 0;
            background: var(--color-white);
            & .control-label, .grouped-control-label {
                font-size: 16px;
                font-weight: 600;
                line-height: normal;
            }
            & .filter-input {
                font-size: 15px;
                font-weight: normal;
                line-height: 1.87;
                text-indent: 16px;
            }
            & .combo-box-header {
                & .choice {
                    padding: 8px 16px;
                    font-size: 15px;
                    font-weight: normal;
                    line-height: 1.87;
                }
            }
            & .count-group .count-dash {
                padding-left: 14px;
            }
        }
        & .control-group input {
            &.date-picker {
                font-weight: normal;
                background: url($cg-calendar-icon)  90% 50% no-repeat;
            }
            &.input-small {
                font-weight: normal;
            }
        }
        & .search-cta {
            width: 30%;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 15px;
            font-weight: 500;
            line-height: normal;
        }
    }
}
