//   _____ _                    
//   / ____| |                   
//  | (___ | |__   __ _ _ __ ___ 
//   \___ \| '_ \ / _` | '__/ _ \
//   ____) | | | | (_| | | |  __/
//  |_____/|_| |_|\__,_|_|  \___|

.share-topic-modal {
  .modal-inner-container {
    padding: 20px;
    border-radius: 8px;
    width: 350px;
  }
  .modal-outer-container {
    .modal-header {
      .title h3 {
        margin-bottom: 18px;
      }
      .close {
        font-size: 13px;
        padding: 5px 10px;
        margin-left: 235px;
        margin-top: 240px;
      }
    }
    .modal-body {
      padding: 0;
      form {
        .sources {
          button {
            margin-left: 150px;
            margin-top: 6px;
            height: 25px;
            font-size: 13px;
            padding-right: 10px;
          }
          .social-link {
            margin-right: 5px;
            height: 30px;
            svg {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}
#share-link {
  border-radius: 8px;
  width: 300px;
  .title:before {
    font-size: 18px;
    line-height: 20px;
    margin-top: 11px;
    margin-bottom: 5px;
  }
  .actions {
    .sources {
      margin-top: 8px;
      margin-bottom: 10px;
      .social-link {
        margin-right: 5px;
        height: 25px;
        svg {
          font-size: 25px;
        }
      }
    } 
    .alt-actions {
      margin-top: 8px;
      margin-bottom: 10px;
      .reply-as-new-topic {
        padding: 5px 5px;
        .new-topic {
          font-size: 13px;
        }
      }
      button {
        font-size: 13px;
        padding: 8px 5px;
        margin-left: 11px;
      }
    }
  }
}
