//  _______          _      
// |__   __|        (_)     
//    | | ___  _ __  _  ___ 
//    | |/ _ \| '_ \| |/ __|
//    | | (_) | |_) | | (__ 
//    |_|\___/| .__/|_|\___|
//            | |           
//            |_|           

#topic-title {
    & h1 a {
        font-size: 24px;
        line-height: 1;
    }
    & .edit-topic-title {
        &:before {
            margin-bottom: 12px;
        }
        & #edit-title {
            margin: 0 0 12px 0;
        }
        & .edit-controls .submit-edit {
            margin-right: 12px;
        }
    }
}

.topic-body {
    width: calc(100% - 25px);
    padding: 0 0 0 10px;
    & .cooked {
        padding: 0;
    }
    & .topic-meta-data {
        align-items: center;
        padding: 0;
    }
}

aside.onebox {
    & header {
        margin-bottom: 0;
        padding-left: 0;
        font-size: 14px;
        line-height: 1.2;
    }
    & .onebox-body {
        & h3 {
            padding: 0;
            margin-top: 70%;
            font-size: 20px;
            line-height: 1.2;
        }
        & .aspect-image {
            max-width: 100%;
            & img.thumbnail {
                height: auto;
            }
        }
        & p:last-child {
            padding: 0;
            font-size: 14px;
            line-height: 1.2;
        }
    }
}

.topic-map {
    & .map {
        & li {
            padding: 10px;
            text-align: center;
            &:nth-child(3) {
                padding-left: 10px;
            }
        }
        & h4, h3 {
            font-size: 14px;
            line-height: 1.2;
        }
    }
    & .topic-map-post.created-at span.relative-date, .topic-map-post.last-reply span.relative-date {
        font-size: 14px;
    }
    & .avatars {
        padding: 0 10px 10px;
    }
}

.post-stream {
    padding-bottom: 0;
    & .topic-post:nth-child(n+2) {
        margin-left: 0;
        padding-top: 20px;
        border: 0;
    }
}

#topic-footer-buttons {
    flex-direction: column;
    & .topic-footer-main-buttons {
        align-items: flex-start;
        margin-bottom: 12px;
        &>* {
            margin-bottom: 0;
        }
    }
    & .topic-notifications-button .reason {
        & .notifications-button {
            align-self: flex-start;
        }
        & .select-kit-body .select-kit-collection .select-kit-row .texts .name {
            font-size: 14px;
            line-height: 1;  
        }
    }
    & .topic-footer-mobile-dropdown {
        height: 40px;
        margin: 0;
    }
    & .select-kit-header.combo-box-header {
        border-radius: 0 !important;
        border-top-left-radius: 6px !important;
        border-bottom-left-radius: 6px !important;
    }
}

.post-admin-menu {
    width: auto;
}

.topic-navigation .popup-menu ul li .btn, 
#topic-footer-buttons .topic-footer-main-buttons .topic-admin-popup-menu ul li .btn,
.post-admin-menu ul li .btn {
    padding: 20px 24px;
    & .d-button-label {
        font-size: 14px;
        line-height: 1;
    }
}

.topic-footer-main-buttons {
    & .select-kit.is-expanded .select-kit-body {
        border: 1px solid var(--color-mischka);
        border-radius: 8px;
        box-shadow: none;
    }
    & .select-kit.combo-box.topic-footer-mobile-dropdown .select-kit-row {
        padding: 15px 25px;
        border: 0;
    }
}

.suggested-topics .suggested-topics-title {
    padding-left: 0;
    font-size: 20px;
    line-height: 1.09;
}

.suggested-topics-message {
    font-size: 20px;
    line-height: 1.09;
    & a {
        font-size: 20px;
        line-height: 1;
    }
}

#topic-progress-wrapper {
    display: none;
}
