//  _    _                  _____                                            
// | |  | |                / ____|                                           
// | |  | |___  ___ _ __  | (___  _   _ _ __ ___  _ __ ___   __ _ _ __ _   _ 
// | |  | / __|/ _ \ '__|  \___ \| | | | '_ ` _ \| '_ ` _ \ / _` | '__| | | |
// | |__| \__ \  __/ |     ____) | |_| | | | | | | | | | | | (_| | |  | |_| |
//  \____/|___/\___|_|    |_____/ \__,_|_| |_| |_|_| |_| |_|\__,_|_|   \__, |
//                                                                      __/ |
//                                                                     |___/ 


//User
.user-main .about {
    .details h1 .d-icon {
        margin-left: -68px !important;
    }
    .controls ul li {
        a, button {
            background: var(--color-white);
            border-radius: 6px;
            border: 1px solid var(--color-blue-ribbon);
            color: var(--color-blue-ribbon);
        }
        svg {
            color: var(--color-blue-ribbon);
        }
    }
}

.user-primary-navigation ul, .user-secondary-navigation ul {
  border: none;
  font-weight: 600;
  li {
      svg {
          color: var(--color-blue-ribbon) !important;
      }
      a span svg {
          display: none;
      }
  }
}
.mobile-nav .expanded li a svg {
  display: none;
}
// Summary
.user-content {
  .stats-section {
      ul {
          display: flex;
          flex-wrap: wrap;
          li {
              width: 116px;
              margin-left: 30px;
          }
      }
  }
  .summary-user-list ul li .user-info {
      background: none;
      border: none;
      padding-top: 0;
      .user-detail .details svg{
          color: var(--color-red-orange);
      }
  }
  .badges-section .badge-card {
      border-radius: 8px;
  }
}
//Activity 
.user-content-wrapper .user-additional-controls button {
  background:var(--color-white);
  color: var(--color-blue-ribbon);
  border-radius: 0;
  padding: 0;
  text-decoration: underline;
  svg {
      color: var(--color-blue-ribbon);
  }
}
.user-content {
  .bookmark-search-form {
      button {
          background: var(--color-blue-ribbon);
      }
  }
  .user-stream {
      border-top: 1px solid var(--primary-low);
      .user-stream-item {
          p:nth-child(3) {
              display: none;
          }
          .clearfix {
              .avatar-link {
                  margin-right: 15px;
              }
              .stream-topic-details .title, .stream-topic-details .title a {
                  color: var(--color-black);
                  font-weight: 600;
              }
          }
          .user-stream-item-draft-actions {
              .resume-draft {
                  background: var(--color-white);
                  color: var(--color-blue-ribbon);
                  border: 1px solid var(--color-blue-ribbon);
                  svg {
                      color: var(--color-blue-ribbon);
                  }
                  
              }
              .remove-draft:after {
                  content: "Delete"
              }
              .remove-draft {
                  background: var(--color-white);
                  color: var(--color-red-orange);
                  border: 1px solid var(--color-red-orange);
                  svg {
                      display: none;
                  }
              }
          }
          .user-stream-item-actions {
              svg {
                  color: var(--color-red-orange);
              }
              .avatar-wrapper .avatar {
                  height: 30px;
                  width: 30px;
              }
          }
      }
  }
}

// Notifications
.user-additional-controls {
  .dismiss-notifications {
      background: var(--color-white);
      color: var(--color-blue-ribbon);
      svg {
          color: var(--color-blue-ribbon);
      }
  }
}
.user-content .notification-history {
  border-top: none;
  .select-kit.dropdown-select-box.notifications-filter .notifications-filter-header{
      border: none !important;
      label {
          font-weight: 600;
      }
      .filter-text:after {
          content: ": ";
      }
      .header-text, svg {
          color: var(--color-blue-ribbon);
      }
  }
  .notifications .notification a div, .notifications .notification a div span {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: var(--color-charcoal-gray);
  }
  .notifications .notification a div span:first-child {
      text-transform: capitalize;
  }
  .notifications .notification .time .relative-date {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: var(--color-charcoal-gray);
  }
}

// Message 
.user-content-wrapper .user-content .list-actions .new-private-message {
  background: var(--color-blue-ribbon);
}
//Invites
.user-content {
  .invite-controls {
      border-bottom: 1px solid var(--color-mischka);
      background: var(--color-white);
      nav {
          background: var(--color-white);
      }
      nav:before, nav:after {
          display: none;
      }
      .pull-right button {
          background: none;
          border: 1px solid var(--color-blue-ribbon);
          color: var(--color-blue-ribbon);
          svg {
              color: var(--color-blue-ribbon);
          }
      }
      ul {
          padding: 0;
          height: 50px;
          li {
              padding-left: 0;
              padding-right: 0px;
          }
          li a.active{
              background: var(--color-white);
          }
      }
  }
  .user-invite-list {
      margin-top: 30px;
      th {
          padding-left: 0;
          font-weight: 600;
          font-size: 15px;
          line-height: 22px;
          color: rgba(43, 42, 53, 0.5);
      }
      th:first-child {
          text-align: left;
      }
      td {
          text-align: center;
      }
      .invite-type {
          padding-left: 0;
          text-align: left;
          svg {
              display: none;
          }
      }
      .invite-actions{
          
          button {
              width: 40px;
              height: 40px;
          }
          button:first-child {
              background: var(--color-white);
              border: 1px solid var(--color-blue-ribbon);
              svg {
                  color: var(--color-blue-ribbon);
              }
          }
      }
  }
}

//Badges
.user-badges-list .badge-card  {
  border-radius: 8px;
}
