//   _    _                 __  __
//  | |  | |               |  \/  |
//  | |  | |___  ___ _ __  | \  / | ___ _ __  _   _
//  | |  | / __|/ _ \ '__| | |\/| |/ _ \ '_ \| | | |
//  | |__| \__ \  __/ |    | |  | |  __/ | | | |_| |
//   \____/|___/\___|_|    |_|  |_|\___|_| |_|\__,_|

.menu-links-row {
  .widget-button {
    &#notifications:after {
      font-size: smaller;
    }
    &#bookmarks:after {
      font-size: smaller;
    }
    &#messages:after {
      font-size: smaller;
    }
    &#profile:after {
      font-size: smaller;
    }
  }
}

.panel-body-bottom {
  .widget-button.notifications-dismiss {
    padding-top: 10px;
  }
}
