//   ______          _            
//  |  ____|        | |           
//  | |__ ___   ___ | |_ ___ _ __ 
//  |  __/ _ \ / _ \| __/ _ \ '__|
//  | | | (_) | (_) | ||  __/ |   
//  |_|  \___/ \___/ \__\___|_|  
 
@media only screen and (max-width: 1200px) {
  .footerMain {
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
  }
  .footerLinks {
    width: 100% !important;
  }
}
.footer {
  background: var(--color-ghost-white);
}
.footerMain {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 3em 0;
  justify-content: space-between;
}
.footerInfo {
  display: flex;
  flex-direction: column;
}
.footerLogo {
  background-image: url($caregiving-logo);
  width: 180px;
  height: 24px;
}
.footerCopyright {
  font-size: 14px;
  line-height: 2.13;
  color: var(--color-oslo-gray);
  margin-top: 10px;
}
.footerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
.footerLink {
  display: flex;
  flex-direction: column;
}
.footerTitle {
  font-weight: bold;
  font-size: 16px;
}
.footerItem {
  font-size: 16px;
  line-height: 2.13;
  color: var(--color-oslo-gray) !important;
  margin-bottom: 10px;
}
.footerContactUs {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin-left: auto;
}
.footerAbout {
  display: flex;
  justify-content: space-between;
  width: 370px;
  margin-bottom: 16px;
}
.footerSocialIcon {
  height: 27px;
  width: 27px;
  font-size: 27px;
  color: var(--color-oslo-gray) !important;
}
.footerSocialFacebook {
  background: var(--color-oslo-gray);
  border-radius: 27px;
}
.footerSocialIconFacebook {
  color: var(--color-ghost-white) !important;
  margin-left: 5px;
  margin-top: -2px;
}
