//   _    _                _
//  | |  | |              | |
//  | |__| | ___  __ _  __| | ___ _ __
//  |  __  |/ _ \/ _` |/ _` |/ _ \ '__|
//  | |  | |  __/ (_| | (_| |  __/ |
//  |_|  |_|\___|\__,_|\__,_|\___|_|

#main {
  margin-top: 150px;
}

.headerSearch {
  font-size: 23px !important;
  color: var(--color-charade);
  margin-left: 1px;
}
.headerSearch:hover {
  color: var(--tertiary);
}
.headerUser {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  border: solid 1px var(--color-mischka);
  background: var(--color-white);
  align-items: center;
  color: var(--color-charcoal-grey);
  margin-right: -45px;
}
.headerLinks {
  max-width: 1440px;
  display: flex;
  justify-content: space-evenly;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--color-charade);
  align-items: center;
  margin: auto;
  align-content: center;
  flex-wrap: wrap;
}
.headerLink {
  margin-right: 3.6rem;
  padding: 18px 0;
  color: var(--color-shuttle-gray) !important;
  font-size: 14px;
}
.headerLink:hover {
  transition: all .1s ease;
  padding-top: 18px;
  padding-bottom: 16px;
  border-bottom: 2px solid;
  color: var(--color-blue-ribbon) !important;
  background-color: var(--secondary);
}
#headerSignIn {
    min-width: 120px;
    height: 40px;
    border-radius: 6px;
    font-family: Avenir;
    font-weight: 800;
    font-size: 15px;
    line-height: 28px;
    justify-content: center;
    color: var(--color-white);
    background-color: var(--color-blue-ribbon);
}

