//  _    _                  _____                                            
// | |  | |                / ____|                                           
// | |  | |___  ___ _ __  | (___  _   _ _ __ ___  _ __ ___   __ _ _ __ _   _ 
// | |  | / __|/ _ \ '__|  \___ \| | | | '_ ` _ \| '_ ` _ \ / _` | '__| | | |
// | |__| \__ \  __/ |     ____) | |_| | | | | | | | | | | | (_| | |  | |_| |
//  \____/|___/\___|_|    |_____/ \__,_|_| |_| |_|_| |_| |_|\__,_|_|   \__, |
//                                                                      __/ |
//                                                                     |___/ 


// User

.user-main .about {
  .details {
    border: none;
    .username {
      font-weight: 600;
      font-size: 22px;
      color: var(--color-charcoal-gray);
      svg{
        height: 20px;
        width: 20px;
        margin-left: -102px !important;
        padding: 8px;
        border-radius: 80px;
        background: var(--color-granite-gray);
        color: var(--color-white);
      }
    }
    .full-name {
      font-weight: 500;
      font-size: 18px;
      line-height: 1;
      color: var(--color-shuttle-gray);
    }
    h2 {
      line-height: 1;
    }
    .secondary {
      border: none;
      width: auto;
      margin-left: -10px;
      margin-top: 0px;
      dl div {
        dt::after {
          content: ": ";
        }
        dd button {
          background: none;
          color: var(--color-blue-ribbon) !important;
          font-weight: 500;
          padding: 1px 5px;
        }
        dt, dd, dd .relative-date {
          color: var(--color-shuttle-gray);
          font-weight: normal;
          font-size: 16px;
        }
      }
    }
    .primary .avatar {
      width: 120px !important;
      height: 120px !important;
      margin: 0 20px 10px 0 !important;
    }
  }
  .controls ul {
    display: inline-flex;
    margin-left: -110px;
    li {
      margin-left: 0.75em;
      a svg, button svg {
        color: var(--color-blue-ribbon);
      }
    }
  }
  .controls>ul a, .controls .btn {
    background: var(--color-white);
    color: var(--color-blue-ribbon);
    border: 1px solid;
    width: auto;
    min-width: auto;
  }
  .collapsed-info {
    .details {
      border-bottom: none !important;
      .primary h2 {
        line-height: 16px;
      }
    }
  }
}

.user-content-wrapper {
  .user-content {
    .d-icon-heart {
      color: var(--color-red-orange);
    }
    .user-stream {
      border-top: 0.5px solid var(--color-mischka);
      margin-top: 60px;
      .avatar-link {
        margin-right: 18px;
      }
    }
    .stream-topic-details .stream-topic-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: var(--color-charcoal-gray);
    }
    .bookmark-search-form {
      input {
        height: 80px !important;
        padding-left: 44px;
        font-weight: 500;
        font-size: 17px;
        line-height: 23px;
        color: var(--color-aluminium);
      }
      button {
        width: 190px;
        padding-left: 5px;
        background: var(--color-blue-ribbon);
        font-weight: 900;
        font-size: 20px;
        line-height: 28px;
        color: var(--color-white);
        & d-icon {
          font-size: 24px;
        }
      }
      button:after {
        content: "Search";
        text-indent: 5px;
      }
    }
    .topic-list thead tr th:first-child{
      color: var(--color-white) !important;
    }
  }
  .main-nav li a svg {
    display: none;
  }
  .user-primary-navigation {
    margin-top: 30px;
    border-bottom: 0.5px solid var(--color-mischka);
  }
  .user-additional-controls {
    button {
      background: var(--color-white);
      color: var(--color-blue-ribbon);
      border: 1px solid var(--color-blue-ribbon);
      font-weight: 500;
      font-size: 15px;
      opacity: 1;
      .d-icon-download{
        color: var(--color-blue-ribbon) !important;
      }
    }
    button:hover {
      color: white !important;
    }
    .dismiss-notifications svg {
      color: var(--color-blue-ribbon) !important;
    }
  }
}
.user-primary-navigation ul{
  margin-bottom: 0;
}

// Activity

.user-secondary-navigation {
  .activity-nav {
    li {
      margin-top: 10px;
    }
    a.active {
      color: var(--color-blue-ribbon) !important;
    }
    a{
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: var(--color-charade) !important;
    }
  }
}
.user-stream-item-draft-actions {
  margin: 31px 0 0 60px;
  button {
    background: white !important;
    color: red !important;
    border: 1px solid red;
  }
  button:nth-child(2):before{
    content: "Delete";
  }
  button:nth-child(2) svg{
    display: none !important;
  }
  button:first-child {
    color: var(--color-blue-ribbon) !important;
    border: 1px solid var(--color-blue-ribbon);
    .d-icon-pencil-alt {
      color: var(--color-blue-ribbon) !important;
    }
  }
}
.user-stream {
  .user-stream-item {
    .user-stream-item-actions {
      margin-left: 70px;
      .d-icon-heart {
        color: var(--color-red-orange) !important;
        width: 15px;
        height: 13px;
      }
    }
  }
  .avatar-link .avatar-wrapper .avatar{
    width: 40px;
    height: 40px;
  }
  .excerpt {
    margin: 20px 0 0 70px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-shuttle-gray);
  }
  li:first-child{
    padding-bottom: 20px; 
  }
  li p:nth-child(3) {
    display: none;
  }
  .title a{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-charcoal-gray) !important;
  }
  .clearfix .avatar-link .avatar-wrapper .avatar {
    height: 50px;
    width: 50px;
  }
}

.summary {
  padding: 0 15px 0 0 !important;
}
.nav-pills>li>a {
  padding: 12px 0;
}
.stats-section {
  ul{
  background: rgba(195,196,198,0.1);
  border: 2px solid var(--color-mischka);
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  }
  li {
    padding:0;
    margin: 0;
    .linked-stat a {
      padding: 0;
    }
  }
}
.user-stat {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}
.stats-title {
text-transform: none;
font-size: 22px;
}
.top-section {
  .top-sub-section {
    width: 45%;
  }
  .more{
    color: var(--color-blue-ribbon);
  }
  .stats-title{
    border-bottom: 1px solid var(--color-mischka);
    margin-top: 30px;
  }
  .user-info {
    padding: 0;
    background: none;
    border: none;
    box-sizing: inherit;
    border-radius: 0;
    margin-right: 0;
  }
}
.stats-section h3.stats-title, .summary-category-list h3.stats-title, .badges-section h3.stats-title{
border-bottom: none !important;
}

.badges-section .badge-card {
  border-radius: 8px;
  .badge-info-item h3 {
    font-size: 16px;
    line-height: 22px;
    color: var(--color-charcoal-gray);
    .badge-summary {
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: var(--color-shuttle-gray);
    }
  }
}
.top-sub-section {
  ul {
    max-width: 100%;
    li {
      border-bottom: 1px solid var(--color-mischka);
      padding-bottom: 23px;
      padding-top: 20px;
      a {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: var(--color-charcoal-gray);
      }
    }
  }
  li {
    border-left: none;
  }
  .topic-info {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-shuttle-gray);
  }
}
.top-categories-section {
  table {
    width: 100%;
    max-width: 100%;
    thead, tbody tr{
      border-bottom: 1px solid var(--color-mischka);
      height: 50px;
    }
    .category-name {
      font-size: 15px !important;
      line-height: 20px;
      color: var(--color-charcoal-gray) !important;
      font-weight: normal !important;
    }
    .topic-count, .reply-count {
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      color: rgba(43, 42, 53, 0.5);
      a {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: var(--color-charcoal-gray);
      }
    }
  }
}


span.relative-date.date {
font-weight: 500;
font-size: 16px;
line-height: 22px;
text-align: center;
color: var(--color-charcoal-gray);
}

.user-content .paginated-topics-list {
  .topic-list {
    .td.posters {
      display: flex;
    }
    .topic-list-item {
      height: 90px;
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}

//Notifications
.user-secondary-navigation {
  .notifications-nav li, .messages-nav li {
    margin-top: 10px;
    a.active{
      color: var(--color-blue-ribbon) !important;
    }
    a{
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: var(--color-charade) !important;
    }
  }
}
.user-content-wrapper {
  .user-content {
    .notification-history {
      border-top: none !important;
      margin-top: 10px !important;
      .notifications-filter button{
        border: none !important;
        label{
          font-weight: 600
        }
        label:nth-child(2){
          color: var(--color-blue-ribbon);
        }
        .filter-text:after {
          content: ": ";
        }
      }
    }
    .tracking-controls .show-tracking {
      color: var(--color-blue-ribbon);
    }
    .control-group .pull-right {
      color: var(--color-blue-ribbon);
    }
    .pref-auth-tokens {
      a, a svg {
        color: var(--color-blue-ribbon);
      }
    }
    .notifications {
      .notification {
        background-color: white !important;
        .time .relative-date {
          font-weight: 500;
          font-size: 16px;
          color: var(--color-charcoal-gray);
        }
        .d-icon {
          color: var(--color-granite-gray);
        }
        .d-icon-far-envelope {
          background: url($cg-greetings-icon) no-repeat center;
          background-size: contain;
          > use {
            display: none;
          }
        }
        .d-icon-users {
          background: url($cg-envelope-icon) no-repeat center;
          background-size: contain;
          > use {
            display: none;
          }
        }
      }
      .notification:first-child {
        padding-bottom: 15px;
      }
      div a div span, div a div {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: var(--color-charcoal-gray);
      }
      div a div span:first-child {
        text-transform: capitalize;
      }
    }
  }
}

.dismiss-notifications .d-icon {
  background: url($cg-minus-icon) no-repeat center;
  background-size: contain;
  & > use {
    display: none;
    }
}

//Messages
.user-secondary-navigation .new-private-message {
  background: var(--color-blue-ribbon);
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  color: var(--color-white);
}
.user-content {
  .list-actions {
    .bulk-select {
      background: var(--color-white);
      margin-bottom: -40px;
      svg {
        color: var(--color-blue-ribbon) !important;
      }
    }
  }
}

//Invites
.user-content {
  .invite-controls {
    border-bottom: 1px solid var(--color-mischka);
    ul {
      padding: 0;
      height: 70px;
      li:first-child {
        padding-left: 0;
      }
      li a.active{
        background: var(--color-white);
      }
    }
    div button {
      background: none;
      border: 1px solid var(--color-blue-ribbon);
      color: var(--color-blue-ribbon);
      svg {
        color: var(--color-blue-ribbon);
      }
    }
    nav:before, nav:after{
      display: none;
    }
  }
  .invite-controls, .invite-controls nav{
    background: var(--color-white);
  }
  .user-invite-list {
    margin-top: 30px;
    th:first-child {
      text-align: left;
    }
    th {
      padding-left: 0;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: rgba(43, 42, 53, 0.5);
    }
    td {
      text-align: center;
    }
    .invite-type {
      padding-left: 0;
      text-align: left;
      svg {
        display: none;
      }
    }
    .invite-actions {
      button {
        width: 40px;
        height: 40px;
      }
      button:first-child {
        background: var(--color-white);
        border: 1px solid var(--color-blue-ribbon);
        svg {
          color: var(--color-blue-ribbon);
        }
      }
    }
  }
}
//Badges
.user-badges-list .badge-card  {
  border-radius: 8px;
}
