// This need to be defined as they don't exist in the site
$color-mischka: #dddfe5;
$color-carely-blue: #4e61ed;
$color-shuttle-gray: #5b616d;
$color-charcoal-gray: #2b2a35;

header.discourse {
  padding: 0 0 10px 0;
  border-bottom: 1px solid $color-mischka;
  &  .button {
    padding: 12px 32px;
    border-radius: 6px;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    background-color: $color-carely-blue !important;
    color: white;
  }
  & .replies {
    color: rgba(43, 42, 53, 0.5);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }
}

article.post {
  border-bottom: 1px solid $color-mischka;
  & .post-date {
    margin: 31.5px 15px 0 0;
    color: rgba(43, 42, 53, 0.5);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }
  & .author {
    padding: 17.5px 0px;
    & img {
      max-width: 50px;
      width: 50px;
    }
  }
  & .cooked {
    padding: 10px 0 13.5px;
    & p {
      margin: 0;
      color: $color-shuttle-gray;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
    }
  }
  & .username {
    margin: 21.5px 0 13px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    & a,
    a.new-user {
      color: $color-charcoal-gray;
      &.staff {
        background-color: white;
      }
    }
  }
}

.clearfix {
  margin-top: 20.5px;
  padding: 0 15px;
  & .button {
    padding: 12px 32px;
    border-radius: 6px;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    background-color: $color-carely-blue !important;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    float: left;
    padding-bottom: 10px;
  }
}
