<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
  rel="stylesheet"
  media="screen"
/>

<script type="text/discourse-plugin" version="0.8">
  api.replaceIcon('search', 'cg-search-icon');
  api.replaceIcon('bars', 'cg-bars-icon');
  api.replaceIcon('far-envelope', 'cg-envelope-icon');
  api.replaceIcon('envelope', 'cg-envelope-icon');
  api.replaceIcon('bell', 'cg-bell-icon');
  api.replaceIcon('users', 'cg-shield-icon');
  api.replaceIcon('user', 'cg-user-icon');
  api.replaceIcon('stream', 'cg-clock-icon');
  api.replaceIcon('user-plus', 'cg-ticket-icon');
  api.replaceIcon('pencil-alt', 'cg-pencil-icon');
  api.replaceIcon('cog', 'cg-gear-icon');
  api.replaceIcon('toggle-off', 'cg-minus-icon');
  api.replaceIcon('bookmark', 'cg-bookmark-icon');
  api.replaceIcon('sign-out-alt', 'cg-exit-icon');
  api.replaceIcon('link', 'cg-share-link-icon');
  api.replaceIcon('flag', 'cg-flag-icon');
  api.replaceIcon('far-trash-alt', 'cg-trash-icon');
  api.replaceIcon('external-link-alt', 'cg-link-icon');
  api.replaceIcon('tasks', 'cg-tasks-icon');
  api.replaceIcon('lock', 'cg-lock-icon');
  api.replaceIcon('far-clock', 'cg-timer-icon');
  api.replaceIcon('thumbtack', 'cg-pin-icon');
  api.replaceIcon('calendar-alt', 'cg-calendar-alt-icon');
  api.replaceIcon('anchor', 'cg-anchor-icon');
  api.replaceIcon('folder', 'cg-folder-icon');
  api.replaceIcon('far-eye-slash', 'cg-eye-slash-icon');
  api.replaceIcon('hourglass-start', 'cg-hourglass-icon');
  api.replaceIcon('user-shield', 'cg-staff-icon');
  api.replaceIcon('certificate', 'cg-certificate-icon');
  api.replaceIcon('far-edit', 'cg-edit-icon');
  api.replaceIcon('sync-alt', 'cg-rebuild-icon');
  api.replaceIcon('plus', 'cg-plus-icon');
  api.replaceIcon('caret-down', 'cg-chevron-down-icon');
  api.replaceIcon('caret-right', 'cg-chevron-down-icon');
  api.replaceIcon('caret-up', 'cg-chevron-up-icon');
  api.replaceIcon('fab-twitter-square', 'cg-twitter-circle-icon');
  api.replaceIcon('fab-facebook', 'cg-facebook-circle-icon');
  api.replaceIcon('envelope-square', 'cg-mail-circle-icon');
  api.replaceIcon('hand-point-right', 'cg-plus-icon');
  api.replaceIcon('trash-alt', 'cg-trash-icon');
  api.replaceIcon('upload', 'cg-plus-icon');
  api.replaceIcon('wrench', 'cg-shield-icon');
  api.replaceIcon('shield-alt', 'cg-shield-icon');
  api.replaceIcon('times', 'cg-close-icon');
  api.replaceIcon('download', 'cg-download-icon');
</script>

<script type="text/discourse-plugin" version="0.8">
  api.onPageChange((url) => {
    const y = document.getElementsByClassName('has-description');
    for (var i = 0; i < y.length; i++) {
      y[i].getElementsByClassName('category-name')[0].classList.add('badge-wrapper');
      y[i].getElementsByClassName('category-name')[0].classList.add('bullet');
      let bullet = document.createElement('span');
      bullet.className = 'badge-category-bg';
      bullet.style.backgroundColor = y[i].firstElementChild.style.borderColor;
      y[i].getElementsByClassName('category-name')[0].appendChild(bullet);
    }
    const container = document.getElementsByClassName('search-container')[0];
    if (container && container.children[0].nodeName !== 'H1') {
      let title = document.createElement('h1');
      title.className = 'search-label';
      title.innerHTML = 'Search';
      container.prepend(title);
      document.getElementsByClassName('search-cta')[0].innerHTML = 'Search';
      document.getElementsByClassName('search-query')[0].placeholder = 'Search topics or posts';
    }
    const aboutHeader = document.getElementsByClassName('about description')[0];
    if (aboutHeader) {
      aboutHeader.getElementsByTagName('H2')[0].innerHTML = 'About Caregiving Forum';
    }
    const linkItem = document.querySelector('div.contents p > a');
    if (linkItem) {
      const infoHeader = linkItem.parentElement;
      infoHeader.classList.add('info-header');
      switch (url) {
        case '/faq':
          infoHeader.innerHTML = 'Frequently Asked Questions';
          break;
        case '/tos':
          infoHeader.innerHTML = 'Terms of service';
          break;
        case '/privacy':
          infoHeader.innerHTML = 'Privacy';
          break;
        default:
      }
      api.getCurrentUser()?.admin ? infoHeader.appendChild(linkItem) : linkItem.remove();
    }
  })
</script>

<script type="text/discourse-plugin" version="0.8">
  $(document).ajaxComplete(function() {
    const headerLink = document.getElementsByClassName('source')[0];
      if (headerLink) {
          document.getElementsByClassName('onebox-body')[0].getElementsByTagName('H3')[0].after(headerLink);
      }
      if (document.getElementById('topic-title') && !document.getElementsByClassName('timeline-scrollarea')[0]) {
          const topicNavigation = document.getElementsByClassName('topic-navigation')[0];
          document.getElementsByClassName('post-infos')[0].appendChild(topicNavigation);
      }
  });
</script>

<script type="text/discourse-plugin" version="0.8">
  api.registerConnectorClass("below-site-header", "custom-homepage", {
    setupComponent(args, component) {

     var topMenuRoutes = 
        component.siteSettings.top_menu.split('|')
        .map(function(route) {return '/' + route});

     var homeRoute = topMenuRoutes[0];

     api.onPageChange((url) => {
        if (url === "/" || url === homeRoute ){
          document.querySelector("html").classList.add("custom-homepage"); 
          component.set("displayCustomHomepage", true); 
        } else {
          document.querySelector("html").classList.remove("custom-homepage"); 
          component.set("displayCustomHomepage", false); 
        }
      });
    }
  });

</script>

<script type="text/x-handlebars" data-template-name="/connectors/below-site-header/custom-homepage">
    {{#if displayCustomHomepage}}
      <ul class="custom-homepage-wrapper">
        <li class="homepage-colored-card blue-card">
          <div class="card-container">
            <div class="card-title">Get <br />  started.</div>
            <div class="card-body-text">Create an account and say hello to fellow Caregivers.</div>
          </div>
          <div class="card-footer">
            <a class="card-btn" href="/t/welcome-to-the-caregiving-com-forum">Learn more</a>
          </div>
        </li>
        <li class="homepage-colored-card purple-card">
          <div class="card-container">
            <div class="card-title">New to <br /> the Forum?</div>
            <div class="card-body-text">Share your ideas and experiences here.</div>
          </div>
          <div class="card-footer">
            <a class="card-btn" href="/t/take-a-look-around">Learn more</a>
          </div>
        </li>
        <li class="homepage-colored-card red-card">
            
          <div class="card-container">
            <div class="card-title"><br /> FAQs</div>
            <div class="card-body-text">Questions on how to use this Forum?</div>
          </div>
          <div class="card-footer">
            <a class="card-btn" href="/t/faqs-questions-on-how-to-use-this-forum">Learn more</a>
          </div>
        </li>
      </ul>
    {{/if}}
  </script>

