//            _                 _   
//      /\   | |               | |  
//     /  \  | |__   ___  _   _| |_ 
//    / /\ \ | '_ \ / _ \| | | | __|
//   / ____ \| |_) | (_) | |_| | |_ 
//  /_/    \_\_.__/ \___/ \__,_|\__|
.nav-item-about {
  padding: 0 15px 0 0 !important;
}
.about h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 60px;
}

.user-info .user-detail .name-line {
  display: flex;
  flex-direction: column;
}
.user-info .user-detail .name-line .name{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-shuttle-gray);
}
.user-info .user-detail .name-line .username{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-charcoal-gray);
}

.about h3 svg {
  display: none;
}

.user-info {
  padding: 32px 25px;
  background: var(--color-pale-gray);
  border: 1px solid var(--color-mischka);
  box-sizing: border-box;
  border-radius: 8px;
  margin-right: 1em;
}
.about table {
  margin-bottom: 135px;
}
.about table td.title {
  width: 300px;
  text-align: left !important;
}

.table th {
  text-align: center;
}
.about table td {
  text-align: center;
  width: 200px;
  height: 48px;
}
.about table td:first-child {
  text-align: left;
  font-weight: 600;
  width: 400px;
}

.about-page .body-page section:not(.admins):not(.moderators):not(.category-moderators) {
  max-width: 930px;
}
.user-card {
  height: 237px;
}
.user-card .card-content {
  padding: 30px;
  margin-top: 50px;
}

.user-card .names {
  margin-top: -50px;
}
.user-card .names .full-name{
  margin-top: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-shuttle-gray);
}
.user-card .names .name-username-wrapper{
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
  color: var(--color-charcoal-gray);
}
.card-row.metadata-row{
  margin-left: 140px;
  margin-top: -29px !important;
}
span.relative-date.date,  .user-card h3{
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-shuttle-gray);
}

.user-card h3 .desc::after {
  content: ": ";
}

.user-card h3:nth-child(2) {
  margin-left: 15px;
  margin-right: 15px;
}
.d-icon-shield-alt {
  position: absolute;
  margin-left: -50px !important;
}

.card-content .usercard-controls {
  margin-top: -40px !important;
}
.card-content .usercard-controls button{
  background: var(--color-white);
  border: 0.5px solid var(--color-mischka);
  border-radius: 6px;
  color: var(--color-shuttle-gray);
  font-weight: 800;
  font-size: 15px;
}
.card-content .usercard-controls button svg{
  color: var(--color-shuttle-gray);
}
.card-row .user-card-badge-link .user-badge, .card-row .more-user-badges a{
  margin-top: 1em;
  background: var(--color-white);
  border-radius: 6px;
  height: 40px;
  font-weight: 800;
  font-size: 15px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: var(--color-shuttle-gray);
}