//   ____        _   _
//  |  _ \      | | | |
//  | |_) |_   _| |_| |_ ___  _ __  ___
//  |  _ <| | | | __| __/ _ \| '_ \/ __|
//  | |_) | |_| | |_| || (_) | | | \__ \
//  |____/ \__,_|\__|\__\___/|_| |_|___/

.btn {
  border-radius: 6px;
}

.btn.btn-default, .btn.btn-primary {
  background-color: var(--color-blue-ribbon);
  color: var(--color-white);
  border-radius: 6px;
  height: 40px;
}

.btn .d-icon {
  color: var(--secondary);
}

.nav-pills > li {
  padding: 0 15px;
  background-color: var(--secondary);
  & > a {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding-bottom: 15px;
    &.active {
      border-bottom: 2px solid;
      color: var(--color-blue-ribbon);
      background-color: var(--secondary);
      font-weight: 600;
    }
    &:hover {
      color: var(--color-blue-ribbon);
      background-color: var(--secondary);
    }
  }
}

.list-controls {
  margin-bottom: 0;
  & .combo-box .combo-box-header {
    background: var(--secondary);
    border-radius: 6px;
    border: 1px solid var(--color-mischka);
    color: var(--color-shuttle-gray);
  }
  & .btn .d-button-label {
    font-size: var(--font-0);
  }
}
