//    _____      _
//   / ____|    | |
//  | |     ___ | | ___  _ __ ___
//  | |    / _ \| |/ _ \| '__/ __|
//  | |___| (_) | | (_) | |  \__ \
//   \_____\___/|_|\___/|_|  |___/

:root {
  --color-blue-ribbon: #4E61ED;
  --color-mischka: #dddfe5;
  --color-shuttle-gray: #5b616d;
  --color-charcoal-gray: #2b2a35;
  --color-shark: #1a1a1c;
  --color-aluminium: #a8aab1;
  --color-granite-gray: #5f6168;
  --color-red-orange: #fe3232;
  --color-brilliance: #fdfdfd;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-bright-gray: #5A606C;
  --color-pale-gray: #fafafb;
  --color-shuttle-gray: #5b616d;
  --color-joyful-gray: #EFEDE9;
  --color-big-stone: #121e37;
  --color-ghost-white: #fcfcff;
  --color-oslo-gray: #939a9b;
  --color-charade: #2a2c35;
  --color-french-gray: #C4C4C4;
  --color-lavender-indigo: #9761E0;
  --color-coral-pink: #FE847E;
  --color-twitter: #1DA1F2;
  --color-facebook: #4267B2;

  //Overrides
  --primary-high: var(--color-shuttle-gray);
  --tertiary: var(--color-blue-ribbon);
}
