//  _____             __ _   
// |  __ \           / _| |  
// | |  | |_ __ __ _| |_| |_ 
// | |  | | '__/ _` |  _| __|
// | |__| | | | (_| | | | |_ 
// |_____/|_|  \__,_|_|  \__|

.discard-draft-modal .modal-inner-container {
  padding: 45px 50px;
  width: 800px;
  height: 288px;
  background: var(--color-white);
  border: 1px solid var(--color-mischka);
  box-sizing: border-box;
  border-radius: 8px;
  z-index: 4000;
  .hidden {
    display: flex !important;
  }
  .modal-header {
    padding: 0px;
    border-bottom: none;
  }
  .modal-body {
    padding: 0;
    margin-bottom: 40px;
    .instructions {
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;
      margin-top: 35px;
    }
  }
  .modal-footer {
    border: none;
    float: right;
    transform: scaleX(-1);
    margin-right: 45px;
    padding: 0;
    .save-draft, .keep-editing {
      background: var(--color-white);
      border: 1px solid var(--color-mischka);
      border-radius: 6px;
      color: var(--color-shuttle-gray);
    }
    .discard-draft {
      background: var(--color-red-orange);
      border-radius: 6px;
      color: var(--color-white);
    }
    button {
      font-weight: 800;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      float: left;
      transform: scaleX(-1);
      height: 50px;
      padding: 20px 25px;
    }
  }
}
