//   ______          _
//  |  ____|        | |
//  | |__ ___  _ __ | |_ ___
//  |  __/ _ \| '_ \| __/ __|
//  | | | (_) | | | | |_\__ \
//  |_|  \___/|_| |_|\__|___/

html {
  font-size: 0.95rem;
}

:root {
  --font-family: "AvenirNext";
  --heading-font-family: "AvenirNext";
}

@font-face {
  font-family: "AvenirNext";
  src: url($AvenirNext-Regular);
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: url($AvenirNext-DemiBold);
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: url($AvenirNext-Medium);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: url($AvenirNext-DemiBoldItalic);
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: url($AvenirNext-Italic);
  font-style: italic;
  font-display: swap;
}
