//   _    _                 _                                       __  __                  
//  | |  | |               | |                                     |  \/  |                 
//  | |__| | __ _ _ __ ___ | |__  _   _ _ __ __ _ _   _  ___ _ __  | \  / | ___ _ __  _   _ 
//  |  __  |/ _` | '_ ` _ \| '_ \| | | | '__/ _` | | | |/ _ \ '__| | |\/| |/ _ \ '_ \| | | |
//  | |  | | (_| | | | | | | |_) | |_| | | | (_| | |_| |  __/ |    | |  | |  __/ | | | |_| |
//  |_|  |_|\__,_|_| |_| |_|_.__/ \__,_|_|  \__, |\__,_|\___|_|    |_|  |_|\___|_| |_|\__,_|
//                                           __/ |                                          
//                                          |___/    

.hamburger-panel {
  .menu-panel {
    width: 412px !important;
    border-radius: 8px;
    padding-left: 19px;
    .panel-body-contents {
      .header {
        height: 62px;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: var(--color-charcoal-gray);;
         a {
          background-color: white !important;
        }
        a:hover {
          font-weight: 900;
        }
        .badge-notification {
          padding: 0px 5px !important;
          background: rgba(221, 223, 229, 0.15);
          border: 1px solid var(--color-mischka);
          border-radius: 10px;
          margin-left: 17px;
          margin-bottom: 3px;
          text-transform: uppercase;
          font-weight: 900;
          font-size: 10px;
          line-height: 14px;
          color: var(--color-bright-gray);
        } 
      }
      .menu-container-admin-links {
        height: 60px;
        ul li {
          height: 58px;
          display: flex;
          align-items: center;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          color: var(--color-charcoal-gray);
          a:hover {
            background: none !important;
            font-weight: 900;
          }
        }
      }
      .menu-container-general-links {
        height: 202px;
        .clearfix {
          border-bottom: 1px solid var(--color-mischka);
        }
        ul {
          li:nth-child(2n+1):last-child,li:nth-child(2n):last-child, li:nth-child(2n+1):nth-last-child(2) {
            border: none;
          }
          li {
            height: 50px;
            border-bottom: 1px solid var(--color-mischka);
            a {
              display: flex;
              padding-top: 15px;
              font-weight: normal;
              font-size: 15px;
              line-height: 20px;
              color: var(--color-charcoal-gray);
              background: none !important;
            }
            a:hover {
              font-weight: 900;
            }
          }
        }
      }
      .category-links {
        border-bottom: 1px solid var(--color-mischka);
        .category-link:nth-child(2n):last-child, li:nth-child(2n+1):last-child, li:nth-child(2n):nth-last-child(2){
          border: none;
        }
        li {
          height: 61px;
          border-bottom: 1px solid var(--color-mischka);
          display: flex !important;
          align-items: center;
          .categories-link{
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: var(--color-charcoal-gray);
            justify-content: start;
            background: none !important;
          }
          .categories-link:hover {
            font-weight: 900;
          }
        }
      }
      .categories-separator, .menu-container-general-links hr {
        display: none;
      }
      .menu-container-footer-links {
        height: 40px;
        padding-top: 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: var(--color-charcoal-gray);
        .menu-links li .about-link:before{
          content: url($alert-circle-icon);
          margin-right: 10px;
        }
        .menu-links li .keyboard-shortcuts-link:before{
          content: url($keyboard-icon);
          margin-right: 10px;
        }
        .menu-links li .widget-link {
          display: flex;
          flex-direction: row;
        }
        .menu-links li a:hover {
          background: none !important;
          font-weight: 900;
        }
      }
    }
  }
}
