//   _    _                _
//  | |  | |              | |
//  | |__| | ___  __ _  __| | ___ _ __
//  |  __  |/ _ \/ _` |/ _` |/ _ \ '__|
//  | |  | |  __/ (_| | (_| |  __/ |
//  |_|  |_|\___|\__,_|\__,_|\___|_|

.headerMain {
  z-index: 3000;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  box-shadow: 0 32px 32px -30px rgba(78, 97, 237, 0.2);
  left: 0;
  top: 0;
  position: fixed;
}
.headerUserIcon {
  width: 12px;
  height: 7px;
  margin-bottom: 7px;
  margin-left: 10px;
  color: var(--color-charcoal-grey);
}
.headerLink:first-child {
  margin-left: 3.6rem;
}
.headerLink:last-child {
  display: flex;
}
.flex {
  display: flex;
}
.headerLogo {
  background-image: url($caregiving-logo);
  width: 180px;
  height: 24px;
}
#userOptions {
  padding: 10px 0;
  font-size: 1rem;
  text-align: left;
  background-color: var(--color-white);
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: .25rem;
  margin-top: 117px;
  z-index: 2000;
  position: absolute;
  margin-left: -20px;
  width: 110px;
}
#userOptions a {
  color: var(--color-charade);
  margin-left: 20px;
}
#userOptions a:hover {
  background-color: rgba(0,0,0,0.04);
  width: 100%;
  margin-left: 0px;
  padding: 3px 33px 3px 20px;
}
#userOptions a:last-child:hover {
  padding: 3px 36px 3px 20px;
}
#userOptions div {
  border-top: 0.5px solid rgba(0,0,0,0.15);
  margin: 10px 0;
}
#headerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin-right: 80px;
  margin-left: 40px;
  height: 80px;
}
#headerLibraries {
  display: flex;
  height: auto;
  box-shadow: 0px 8px 16px var(--color-pale-gray);
  border-top: 1px solid var(--color-mischka);
}
.d-header-wrap {
  margin-top: 145px;
}

.login-button {
  visibility: hidden;
}
