//
//   _    _                                             
//  | |  | |                                            
//  | |__| | ___  _ __ ___   ___ _ __   __ _  __ _  ___ 
//  |  __  |/ _ \| '_ ` _ \ / _ \ '_ \ / _` |/ _` |/ _ \
//  | |  | | (_) | | | | | |  __/ |_) | (_| | (_| |  __/
//  |_|  |_|\___/|_| |_| |_|\___| .__/ \__,_|\__, |\___|
//                              | |           __/ |     
//                              |_|          |___/      


.custom-homepage-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    gap: 1rem;
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
    justify-items: center;
    list-style: none;
    .homepage-colored-card {
        width: 356px;
        height: 240px;
        color: white;
        border-radius: 6px;
        background-repeat: no-repeat;
        background-position: right 1rem top 1rem;    
        background-blend-mode: overlay;
        &.blue-card {
            background-image: url($cg-home-card-wave);
            background-color: var(--color-blue-ribbon);
            .card-btn {
                color: var(--color-blue-ribbon);
            }
        }
        &.purple-card {
            background-image: url($cg-home-card-chat);
            background-color: var(--color-lavender-indigo);
            .card-btn {
                color: var(--color-lavender-indigo);
            }
        }
        &.red-card {
            background-image: url($cg-home-card-faqs);
            background-color: var(--color-coral-pink);
            .card-btn {
                color: var(--color-coral-pink);
            }
        }

        .card-container {
            width: 213px;
            padding-left: 50px;
            padding-top: 40px;
            margin-bottom: 1rem;
            .card-title {
                font-family: Avenir;
                font-style: normal;
                font-weight: 800;
                font-size: 32px;
                line-height: 34px;
            }
        }

        .card-footer {
            padding-left: 50px;
            .card-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 136px;
                height: 33px;
                background-color: white;
                border-radius: 33px;
                border: none;
                font-family: 'Avenir';
                font-style: normal;
                font-weight: 800;
            }
        }
    }
}

// navigation links
#navigation-bar {
    height: 55px;
    margin: 0;
    margin-right: auto;
}

.list-container {
    padding-top: 3.5rem;
}

.list-controls {
  margin-bottom: 0;
  & .combo-box .combo-box-header {
    background: var(--secondary);
    border-radius: 6px;
    border: 1px solid var(--color-mischka);
    color: var(--color-shuttle-gray);
  }
  & .btn .d-button-label {
    font-size: 15px;
    font-weight: 800;
    line-height: 28px;
  }
  & .container {
    height: 55px;
  }
}

// topics table
.topic-list {
    margin: 10px 0;
    & th {
        padding: 12px 17px;
        color: var(--color-charcoal-gray);
        opacity: 50%;
        font-size: 15px;
        font-weight: 600;
        &:first-of-type {
            color: var(--color-charcoal-gray);
            opacity: 1;
            font-weight: 600;
        }
        & button {
            & .d-icon {
                margin-right: 12px;
                color: var(--color-charcoal-gray);
            }
        }
        &.sorting {
            color: var(--color-blue-ribbon);
            opacity: 1;
        }
        &.sortable {
            &:hover {
                color: var(--color-blue-ribbon);
                background: var(--header_background);
                opacity: 1;
            }
        }
    }
    & tbody {
        border-top: 0;
    }
    & tr {
        border-bottom: 1px solid var(--color-mischka);
    }
    & td {
        color: var(--color-charcoal-gray);
    } 
    & .main-link {
        font-size: 16px;
        & a {
            &.title {
                color: var(--color-charcoal-gray) !important;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
    &-item.visited {
        & a.title:not(.badge-notification) {
            color: var(--color-charcoal-gray);
            font-size: 16px;
            font-weight: 600;
        }
        & span.badge-category,
        .latest-topic-list-item.visited span.badge-category,
        .category-topic-link.visited span.badge-category {
            color: var(--color-shuttle-gray);
        }
    }
    & .topic-list-item-separator td {
        border-bottom: 1px solid var(--color-blue-ribbon);
        & span {
            color: var(--color-blue-ribbon);
        }
    }
    & .posters {
        width: 60px;
    }
    & .num .badge-posts {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }
    & .link-bottom-line {
        font-size: 16px;
    }
}

div.education {
    border-top: 1px solid var(--primary-low);
    border-bottom: 0;
}

.topic-statuses {
    display: none;
}

.topic-list-bottom {
    margin: 0;
}

// table labels and bullets
.badge-wrapper {
    font-size: 16px;
    &.bullet {
        & .badge-category-bg {
            width: 8px;
            height: 8px;
            margin-right: 9px;
            border-radius: 50px;
        }
        & span.badge-category {
            font-size: 16px;
            line-height: 22px;
            color: var(--color-shuttle-gray);
        }
        & .d-icon {
            display: none;
        }
    }
    & .badge-category {
        & .category-name {
            color: var(--color-shuttle-gray);
            font-size: 16px;
            font-weight: 500;
        }
    }
}

// after table message and link
.footer-message {
    & h3 {
        color: var(--color-charcoal-gray);
        font-weight: 600;
        font-size: 22px;
        line-height: 60px;
    }
    & a {
      color: var(--color-blue-ribbon);  
    }
}

.top-lists {
    border-top: 1px solid var(--color-mischka);
}

.categories-and-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "categories tags"
        "categories topics";
    .categories {
        grid-area: categories !important;
    }
    // @media only screen and (min-width: 636px) {
    //     .column:not(.categories) {
    //         max-width: 360px;
    //     }
    // }
}

.table-heading, tr {
    border-bottom: 1px solid var(--color-mischka);
}

tbody {
    border-top: 0;
}

body.category {
    .category-logo {
        width: 40px;
    }
    .topic-list {
        margin: 55px 0;
    }
}

// category table
.category-list {
    @media only screen and (min-width: 768px) {
    & th {
        display: none;
    }
    & .topics {
        display: none;
    }
    & .category-title-link {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    & .no-description {
        height: 75px;
    }

    & .category-logo {
        width: 40px;
        height: 32px;
        margin: 0;
        margin-right: 1rem;
        position: absolute;
        left: 10px;
    }
    & .category-text-title {
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
    }
    & .category {
        padding-left: 70px !important;
        & h3 {
            & .d-icon {
                align-self: center;
                margin-left: 5px;
                color: var(--color-charcoal-gray);
                opacity: 30%;
            }
        }
        & h4 {
            & .d-icon {
                margin-left: 5px;
            }
        }
        & .category-description {
            color: var(--color-shuttle-gray);
            font-weight: 500;
        }
        &-name {
            display: contents;
            color: var(--color-charcoal-gray);
            font-size: 16px;
            font-weight: 600;
            .badge-category-bg {
                display: none;
            }
        }
    }
    & tbody {
        & .category {
            border: 0;
            padding-left: 0;
            & h3 {
                font-size: 16px;
            }
        }
    }
}
}

// top topics table
.top-topic-list, .extra-categories-column-outlet {
    background-color: var(--color-ghost-white);
    border: 1px solid var(--color-joyful-gray);
    padding: 13px 31px;
    border-radius: 6px;
    & .table-heading {
        font-family: 'Avenir Next';
        color: var(--color-charcoal-gray);
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 60px;
    }
    &-item {
        padding: 25px 5px;
        &.visited {
            & a.title:not(.badge-notification) {
                color: var(--color-charcoal-gray);
                font-size: 16px;
                font-weight: 600;
            }
        }
        & .main-link {
            & .top-row {
                font-size: 16px;
            }
            & a.title {
                color: var(--color-charcoal-gray);
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
    & .posts-map {
        color: var(--color-charcoal-gray);
    }
}

.top-title-buttons {
    & .btn.btn-default {
        background-color: var(--color-white);
        color: var(--color-blue-ribbon);
        border: 1px solid var(--color-blue-ribbon);
        font-size: 15px;
        font-weight: 800;
        line-height: 28px;
    }
}

// latest topics table
.latest-topic-list {
    & .table-heading {
        padding: 12px 5px;
        color: rgba(43, 42, 53, 0.5);
        border-bottom: 1px solid var(--color-mischka);
        font-weight: 600;
    }
    &-item {
        padding: 25px 5px;
        border-bottom: 1px solid var(--color-mischka);
        &:first-of-type {
            border-top: 1px solid var(--color-mischka);
        }
        &.visited {
            & a.title:not(.badge-notification) {
                color: var(--color-charcoal-gray);
                font-size: 16px;
                font-weight: 600;
            }
        }
        & .main-link {
            flex: 0 5 90%;
            max-width: 90%;
            & .top-row {
                font-size: 16px;
            }
            & a.title {
                color: var(--color-charcoal-gray);
                font-size: 16px;
                font-weight: 600;
            }
        }
        & .topic-last-activity a {
            color: var(--color-shuttle-gray) 50%;
        }
        & .topic-poster {
            width: 70px;
            & a img{
                width: 50px;
                height: 50px;
            }
        }
        & .topic-stats {
            flex: 0 1 10%;
            text-align: center;
        }
    }
    & .posts-map {
        color: var(--color-charcoal-gray);
    }
    & .more-topics {
        margin-top: 2em;
        & .btn.btn-default {
            width: 100%;
            background-color: var(--color-white);
            color: var(--color-blue-ribbon);
            border: 1px solid;
            font-weight: 500;
            font-size: 15px;
            line-height: 28px;
        }
    }
}

.category-topic-link.visited a.title:not(.badge-notification) {
    color: var(--color-charcoal-gray);
    font-size: 16px;
    font-weight: 600;
}

.select-kit {
    &.dropdown-select-box.period-chooser {
        margin-top: 22px;
        & .period-chooser-header {
            & .d-icon {
                margin: 0;
                font-size: 12px;
            }
            & h2.selected-name {
                & .date-section {
                    color: var(--color-shuttle-gray);
                    font-weight: 800;
                }
                & .top-date-string {
                    color: var(--color-shuttle-gray);
                    font-weight: 400;
                    text-transform: capitalize;
                }
            }
        }
        .date-section {
            color: var(--color-shuttle-gray);
            font-weight: 800;
        }
    }
    &.categories-admin-dropdown .select-kit-header .d-icon {
        color: var(--color-shuttle-gray);
    }
    & .select-kit-header .selected-name>.d-icon {
        color: var(--color-shuttle-gray);
    }
}

// category list dropdown
.category-breadcrumb .select-kit {
    &.is-expanded {
        & .select-kit-body {
            padding: 15px 20px 0;
            border: 1px solid var(--color-mischka);
            border-radius: 8px;
            box-shadow: none;
        }
        & .select-kit-collection {
            border-radius: 0;
            & li {
                padding: 14px 0 14px 7px;
                &:not(:last-child) {
                    border-bottom: 1px solid var(--color-mischka);
                }
                & .badge-wrapper .badge-category .category-name {
                    color: var(--color-charcoal-gray);
                    font-size: 15px;
                    font-weight: normal;
                    line-height: 20px;
                    &:hover {
                        font-weight: 500;
                    }
                }
            }
        }
    }
    &.single-select {
        &.is-expanded {
            & .select-kit-header {
                &:not(.btn) {
                    border: 1px solid var(--color-blue-ribbon);
                    outline: 0;    
                }
            }
        }
        & .select-kit-header {
            & .caret-icon {
                margin-left: auto;
            }
            
            &:not(.btn) {
                &:active {
                    border: 1px solid var(--color-blue-ribbon);
                    outline: 0; 
                }
                
                &:focus {
                    border: 1px solid var(--color-blue-ribbon);
                    outline: 0; 
                }
            }
        }
        & .select-kit-filter {
            &.is-expanded {
                display: flex;
                flex-direction: row-reverse;
                padding: 0 12px;
                border: 1px solid var(--color-mischka);
                border-radius: 8px;
            }
            & .filter-icon {
                margin-right: 12px;
                margin-left: 0;
                color: var(--color-shark);
            }
        }
    }
    &.combo-box {
        & .select-kit-filter {
            & .filter-input {
                color: var(--color-aluminium);
                font-weight: 500;
            }
        }
        &.category-drop {
            & .select-kit-row {
                & .category-status, .badge-wrapper {
                    width: 100%;
                }
                & .category-desc {
                    display: none;
                }
                & .topic-count {
                    display: flex;
                    align-items: center;
                    margin-left: auto;
                    padding: 2px 10px;
                    color: var(--color-bright-gray);
                    background: rgba(221, 223, 229, 0.15);
                    border: 1px solid var(--color-mischka);
                    border-radius: 12px;
                    font-size: 10px;
                    font-weight: 900;
                    line-height: 14px;
                    &::first-letter {
                        display: none;
                    }
                }
            }
            & .select-kit-row[data-value="all-categories"], .select-kit-row[data-value="no-categories"] {
                color: var(--color-blue-ribbon);
                font-size: 15px;
                font-weight: normal;
                line-height: 20px;
                text-transform: capitalize;
                &:hover {
                    font-weight: 500;
                }
            }
        }
    }
    & .select-kit-row {
        &.is-selected {
            &.is-highlighted {
                background: var(--color-white);
            }
            &.is-selected {
                background: var(--color-white);
            }
        }
        &.is-highlighted {
            background: var(--color-white);
            font-weight: bold;
        }
    }
}

#list-area {
    & .top-lists h2 {
        margin: 7px 0 5px;
    }
}
