//   _        __      
//  (_)      / _|     
//   _ _ __ | |_ ___  
//  | | '_ \|  _/ _ \ 
//  | | | | | || (_) |
//  |_|_| |_|_| \___/ 

.body-page {
    max-width: 100%;
    & li {
        margin-bottom: 0;
    }
    & .nav-pills {
        border-bottom: 1px solid var(--color-mischka);
    }
    & ul:not(.nav-pills) {
        color: var(--color-blue-ribbon);
    }
    
}

.user-info .user-detail {
    & .name a, .username a {
        color: var(--color-charcoal-gray);
    }
}

section.about {
    & h3 {
        font-size: 20px;
        font-weight: 600;
        line-height: 60px;
    }
    & table {
        & th {
            padding-bottom: 19px;
            color: rgba(43, 42, 53, 0.5);
            font-size: 15px;
            font-weight: 600;
            line-height: 22px;
        }
    }
}

.info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
    padding-bottom: 37px;
    border-bottom: 1px solid var(--color-mischka);
}

div[itemtype="http://schema.org/WebPage"] {
    padding-bottom: 160px;
}

div[itemprop="mainContentOfPage"] {
    & h2 a {
        color: var(--color-charcoal-gray);
        font-size: 22px;
        font-weight: 600;
        line-height: 60px;
    }
    & a {
        color: var(--color-blue-ribbon);
    }
}