//   _____                   _
//  |_   _|                 | |
//    | |  _ __  _ __  _   _| |_ ___
//    | | | '_ \| '_ \| | | | __/ __|
//   _| |_| | | | |_) | |_| | |_\__ \
//  |_____|_| |_| .__/ \__,_|\__|___/
//              | |
//              |_|

input[type="text"],
input[type="text"]:focus {
  border-radius: 8px;
  height: 44px !important;
  border: 1px solid var(--color-mischka);
  outline: none;
}

// Selects
.select-kit-header,
.single-select-header,
.combo-box-header {
  background: var(--secondary) !important;
  border-radius: 6px !important;
  border: 1px solid var(--color-mischka) !important;
  color: var(--color-shuttle-gray) !important;
  height: 44px !important;
  outline: none !important;
  .selected-name,
  .d-icon {
    line-height: 28px;
    font-size: 15px;
    font-weight: 400;
    padding: 7px 20px;
  }
}
