//   _______          _        ____
//  |__   __|        (_)      |  _ \
//     | | ___  _ __  _  ___  | |_) | _____  __
//     | |/ _ \| '_ \| |/ __| |  _ < / _ \ \/ /
//     | | (_) | |_) | | (__  | |_) | (_) >  <
//     |_|\___/| .__/|_|\___| |____/ \___/_/\_\
//             | |
//             |_|

#reply-control {
  .grippie {
    background: none;
  }
  .reply-area .composer-fields .reply-to{
      border-bottom: 1px solid var(--color-mischka);
      padding-bottom: 5px;
      .reply-details .action-title {
        font-weight: 600;
        font-size: 16px;
        color: var(--color-charcoal-gray);
      }
  }
  .d-editor-preview-wrapper {
    margin-top: 0px;
  }
  .select-kit-header.single-select-header.btn-default.dropdown-select-box-header {
    padding: 13px !important;
    margin-right: 11px !important;
    .d-icon {
      padding: 0 !important;
    }
  }
  .options {
    button {
      background-color: var(--color-pale-gray) !important;
      border: none !important;
      height: 30px !important;
    }
  }

  .composer-popup {
    margin-left: -2px;
    background: rgb(234,241,255);
    border: 2px solid var(--color-blue-ribbon);
    color: var(--color-blue-ribbon);
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 60px;
    p:nth-child(2) {
      text-align: center;
      font-weight: 600;
      font-size: 22px;
      line-height: 30px;
      strong {
        font-size: 16px;
        display: block;
      }
    }
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      text-align: start;
    }
    .close {
      color: var(--color-blue-ribbon);
      opacity: 1;
      position: absolute;
      background: rgb(234,241,255);;
      width: 89%;
      height: 60px;
      margin-top: 50%;
      justify-content: end;
      padding-right: 50px;
      .d-icon {
        display: none;
      }
      &:before {
        font-weight: 600;
        content: "Close";
        color: var(--color-blue-ribbon);
      }
    }
  }

  input,
  textarea {
    &::placeholder {
      color: var(--color-aluminium);
    }
  }

  .d-editor-container {
    .d-editor-textarea-wrapper,
    .d-editor-textarea-wrapper.in-focus {
      border: none;
      outline: none;
      .d-editor-button-bar {
        display: flex;
        background: var(--color-pale-gray);
        margin: 0;
        border: 1px solid var(--color-mischka);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        border-bottom: none;
        .d-icon {
          color: var(--color-granite-gray);
        }
      }
      textarea,
      textarea:focus {
        border: 1px solid var(--color-mischka);
      }
    }
  }

  .submit-panel {
    .btn.create {
      color: var(--color-white);
      font-weight: 800;
      font-size: 15px;
      padding-right: 30px !important;
      padding-left: 30px !important;
      .d-icon {
        display: none;
      }
    }
    .cancel,
    .cancel:hover {
      text-transform: capitalize;
      color: var(--color-blue-ribbon);
      border: 1px solid var(--color-blue-ribbon);
      border-radius: 6px;
      padding: 8px 20px;
    }
  }
}
