//  _   _                 _              _                    _   _                 
// | \ | |               | |            (_)                  | | (_)                
// |  \| | _____      __ | |_ ___  _ __  _  ___    ___  _ __ | |_ _  ___  _ __  ___ 
// | . ` |/ _ \ \ /\ / / | __/ _ \| '_ \| |/ __|  / _ \| '_ \| __| |/ _ \| '_ \/ __|
// | |\  |  __/\ V  V /  | || (_) | |_) | | (__  | (_) | |_) | |_| | (_) | | | \__ \
// |_| \_|\___| \_/\_/    \__\___/| .__/|_|\___|  \___/| .__/ \__|_|\___/|_| |_|___/
//                                | |                  | |                          
//                                |_|                  |_|

.reply-details .select-kit .select-kit-body {
  border-radius: 8px !important;
  .select-kit-collection {
    border-radius: 8px !important;
    .select-kit-row:hover {
      background: var(--color-white);
      .texts {
        .name {
          font-weight: 600;
        }
        .desc {
          font-weight: 500;
        }
      }
    }
    .select-kit-row {
      background: var(--color-white);
      .icons .svg-icon-title svg {
        color: var(--color-shuttle-gray) !important;
      }
      .texts {
        .name {
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
        }
        .desc {
          font-weight: normal;
          font-size: 15px;
          line-height: 20px;
          margin-top: 3px;
        }
      }
    }
  }
}
