//   _____                     _     
//  / ____|                   | |    
// | (___   ___  __ _ _ __ ___| |__  
//  \___ \ / _ \/ _` | '__/ __| '_ \ 
//  ____) |  __/ (_| | | | (__| | | |
// |_____/ \___|\__,_|_|  \___|_| |_|
//

.search-container {
    display: block;
    & .search-label {
        margin-bottom: 30px;
        font-size: 53px;
        font-weight: 600;
        line-height: 60px;
    }
    & .search-bar {
        & .search-query {
            height: auto !important;
            margin-right: 20px;
            padding: 28px 0;
            background: url($cg-search-icon) no-repeat 44px center;
            background-size: 30px;
            color: var(--color-granite-gray);
            font-size: 17px;
            font-weight: 500;
            line-height: 23px;
            text-indent: 84px;
            &::placeholder {
                color: var(--color-aluminium);
                text-transform: initial;
            }
        }
        & .search-cta {
            width: 190px;
            height: auto;
            border-radius: 8px;
            background: var(--color-blue-ribbon);
            font-size: 20px;
            font-weight: 900;
            line-height: 28px;
        }
    }
    & .search-notice {
        padding-bottom: 40px;
    }
    & .search-advanced {
        width: 100%;
        & .search-title {
            display: none;
        }
        & .search-info {
            width: 73%;
            margin-bottom: 0;
            padding-right: 45px;
            border-bottom: 0;
            box-sizing: border-box;
            float: left;
        }
        & .search-context {
            width: 73%;
            float: left;
        }
        & .search-results {
            width: 73%;
            margin-bottom: 0;
            padding-right: 45px;
            border-bottom: 0;
            box-sizing: border-box;
            float: left;
            & .fps-result {
                margin-bottom: 0;
                padding: 25px 0 30px;
                border-top: 1px solid var(--color-mischka);
                &:last-child {
                    border-bottom: 1px solid var(--color-mischka);
                }
                & .avatar {
                    width: 50px;
                    height: 50px;
                }
                & .search-link {
                    & .topic-statuses {
                        display: none;
                    }
                    & .topic-title {
                        color: var(--color-charcoal-gray);
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 22px;
                    }
                }
                & .search-category {
                    & .badge-wrapper {
                        align-items: center;
                        & .badge-category {
                            color: var(--color-shuttle-gray);
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 22px;
                        }
                    }
                }
                & .blurb {
                    color: var(--color-shuttle-gray);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    & span.relative-date {
                        font-weight: 600;
                    }
                }
            }
            & .loading-container {
                padding-top: 25px;
                & a {
                    color: var(--color-blue-ribbon);
                }
                & button {
                    height: 44px;
                    border-radius: 8px;
                    background: var(--color-blue-ribbon);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: normal;
                }
            }
            & .search-footer {
                margin-top: 15px;
                font-size: 22px;
                font-weight: 600;
                line-height: 60px;
            }
        }
        & .spinner {
            display: none;
            width: 100%;
            float: left;
        }
    }
    & .search-advanced-sidebar {
        width: 27%;
        & .search-advanced-title {
            padding: 0 0 10px 0;
            background: var(--color-white);
            font-size: 22px;
            font-weight: 600;
            line-height: 30px;
        }
        & .search-advanced-filters {
            padding: 0;
            background: var(--color-white);
            & .control-label, .grouped-control-label {
                font-size: 16px;
                font-weight: 600;
                line-height: 2.5;
            }
            & .filter-input {
                color: var(--color-granite-gray) ;
                font-weight: 500;
                line-height: 20px;
                text-indent: 16px;
                &::placeholder {
                    color: var(--color-aluminium);
                }
            }
            & .combo-box-header {
                color: var(--color-granite-gray) !important;
                text-transform: capitalize;
                & .choice {
                    padding: 8px 16px;
                    font-weight: 800;
                    line-height: 28px;
                }
                & .caret-icon {
                    font-size: 12px;
                }
            }
            & .grouped-control-field {
                display: none;
            }
            & .full-search-dates {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                & .combo-box {
                    min-width: 44%;
                    flex: 0 0 44%;
                }
                & .d-date-input {
                    margin-top: 0;
                    flex: 0 0 52%;
                }
            }
            & .count-group .count-dash {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                padding-left: 10px;
            }
        }
        & .control-group input {
            &.date-picker {
                height: 44px;
                padding: 12px 16px;
                color: var(--color-granite-gray);
                background: url($cg-calendar-icon) no-repeat 90% center;
                border: 1px solid var(--color-mischka);
                border-radius: 8px;
                font-weight: 800;
                &::-webkit-calendar-picker-indicator {
                    opacity: 0;
                    padding-left: 0;
                    margin-left: 0;
                }
                &:focus {
                    outline: 0;
                }
            }
            &.input-small {
                padding: 10px 16px;
                color: var(--color-granite-gray);
                border: 1px solid var(--color-mischka);
                border-radius: 8px;
                font-weight: 800;
                &:focus {
                    outline: 0;
                }
            }
        }
        & .search-cta {
            width: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
            border-radius: 8px;
            background: var(--color-blue-ribbon);
            font-size: 15px;
            font-weight: 800;
            line-height: 28px;
            & svg {
                display: none;
            }
        }
    }
}
