//   _____ _                    
//   / ____| |                   
//  | (___ | |__   __ _ _ __ ___ 
//   \___ \| '_ \ / _` | '__/ _ \
//   ____) | | | | (_| | | |  __/
//  |_____/|_| |_|\__,_|_|  \___|

.share-topic-modal {
  .modal-inner-container {
    padding: 20px 40px;
    border-radius: 8px;
    width: 700px;
    box-shadow: none;
  }
  .modal-outer-container {
    .alert-success {
      position: absolute;
      margin-left: 255px;
      margin-top: -60px;
      background-color: var(--color-white);
      color: blue;
    }
    .modal-header {
      border-bottom: none;
      .title h3 {
        margin-bottom: 12px;
      }
      .title h3:after {
        content: " Post";
      }
      .close {
        border: 1px solid var(--color-blue-ribbon);
        color: var(--color-blue-ribbon);
        font-weight: 500;
        font-size: 15px;
        padding: 11px 20px;
        position: absolute;
        margin-top: 248px;
        margin-left: 515px;
        svg {
          display: none;
        }
      }
      .close:before {
        content: "Cancel";
      }            
    }
    .modal-body {
      padding: 0;
      form {
        margin-bottom: 0;
        .invite-link {
          label, button {
            display: none;
          }
        }
        .invite-users {
          .invite-input-with-button {
            .btn {
              height: 43px;
              width: 43px;
              opacity: 1;
            }
          }
        }
        .sources {
          button:nth-child(5) {
            display: none;
          }
          button {
            margin-left: 443px;
            position: absolute;
            height: 40px;
            font-weight: 800;
            font-size: 15px;
            padding: 6px 14px;
            span, svg {
              display: none;
            }
          }
          button:after {
            content: "Share"
          }
          .social-link {
            margin-right: 10px;
            svg {
              font-size: 40px;
            }
            .d-icon-fab-twitter-square {
              color: var(--color-twitter);
            }
            .d-icon-fab-facebook {
              color: var(--color-facebook);
            }
            .d-icon-envelope-square {
              color: var(--color-french-gray);
            }
          }
        }
      }
    }
  }
}
#share-link {
  border-radius: 8px;
  width: 400px;
  .title:before {
    content: "Share Post";
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: var(--color-charcoal-gray);
    margin-top: 21px;
    margin-bottom: 10px;
  }
  .title h3 {
    display: none;
  }
  .actions {
    .sources {
      margin-top: 15px;
      margin-bottom: 20px;
      .social-link {
        margin-right: 10px;
        svg {
          font-size: 40px;
        }
        .d-icon-fab-twitter-square {
          color: var(--color-twitter);
        }
        .d-icon-fab-facebook {
          color: var(--color-facebook);
        }
        .d-icon-envelope-square {
          color: var(--color-french-gray);
        }
      }
    }
    .invite-users {
      .invite-input-with-button .btn {
        background: var(--color-blue-ribbon);
        opacity: 1;
        width: 43px;
        height: 43px;
      }
    }
    .alt-actions {
      margin-top: 15px;
      margin-bottom: 20px;
      .reply-as-new-topic {
        background: var(--color-blue-ribbon);
        border-radius: 6px;
        padding: 10px 5px 10px 20px;
        .new-topic {
          color: var(--color-white);
          font-weight: 800;
          font-size: 15px;
        }
      }
      .close {
        border: 1px solid var(--color-blue-ribbon);
        color: var(--color-blue-ribbon);
        font-weight: 500;
        font-size: 15px;
        padding: 10px 5px;
        margin-left: 21px;
        svg {
          display: none;
        }
      }
      .close:before {
        content: "Cancel";
      }
    }
  }
}
.modal-backdrop {
  opacity: 0.3;
}
