//    _____       _     _    _                _
//   / ____|     | |   | |  | |              | |
//  | (___  _   _| |__ | |__| | ___  __ _  __| | ___ _ __
//   \___ \| | | | '_ \|  __  |/ _ \/ _` |/ _` |/ _ \ '__|
//   ____) | |_| | |_) | |  | |  __/ (_| | (_| |  __/ |
//  |_____/ \__,_|_.__/|_|  |_|\___|\__,_|\__,_|\___|_|

#site-logo {
  display: none !important;
}

header {
  .title {
    a:after {
      content: "Browse The Caregiving Forum" !important;
      font-family: 'Avenir Next';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0px;
      text-align: left;
      color: var(--color-charcoal-gray);
    }
  }
}

.d-header {
  box-shadow: none;
  .d-icon {
    color: var(--color-shark);
  }
  .d-icon-search {
    width: 20px;
    height: 20px;
  }
  .d-icon-bars {
    width: 18px;
  }
  .avatar {
    width: 40px !important;
    height: 40px !important;
  }
}

.site-logo {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--color-charcoal-gray);
}

.category-drop-header {
  .d-icon {
    color: var(--color-charcoal-gray) !important;
    width: 12px;
    height: 8px;
  }
}

.category-drop {
  .filter-icon {
    width: 23px;
    height: 23px;
  }
}
