//   _______    _     _
//  |__   __|  | |   | |
//     | | __ _| |__ | | ___  ___
//     | |/ _` | '_ \| |/ _ \/ __|
//     | | (_| | |_) | |  __/\__ \
//     |_|\__,_|_.__/|_|\___||___/

tbody {
  border-top: 1px solid var(--color-mischka);
}

tr {
  border-bottom: 1px solid var(--color-mischka);
  td.main-link {
    .link-top-line {
      .title {
        font-size: 16px;
        font-weight: 600;
      }
    }
    .link-bottom-line {
      padding-top: 7px;
      .badge-category-bg {
        border-radius: 50%;
        margin-right: 9px !important;
      }
      .d-icon-lock {
        display: none;
      }
      .category-name {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  .sortable {
    color: var(--color-charcoal-gray);
    &.sorting.num {
      color: var(--color-blue-ribbon);
    }
  }
}
