//  _______          _      
// |__   __|        (_)     
//    | | ___  _ __  _  ___ 
//    | |/ _ \| '_ \| |/ __|
//    | | (_) | |_) | | (__ 
//    |_|\___/| .__/|_|\___|
//            | |           
//            |_|           

.d-icon.d-icon-d-tracking, .d-icon.d-icon-d-watching {
    color: var(--color-granite-gray);
}

.post-controls .actions .d-icon-ellipsis-h {
    color: var(--color-granite-gray);
}

.post-info.edits .widget-button .d-button-label {
    color: var(--color-granite-gray) !important;
}

nav.post-controls .actions {
    & a .d-icon, button .d-icon, button.create .d-icon {
        color: var(--color-granite-gray);
    }
}

#topic-title {
    margin-bottom: 20px;
    & h1 a {
        font-size: 53px;
        font-weight: 600;
        line-height: 60px;
    }
    & a.edit-topic .d-icon {
        color: var(--color-granite-gray);
        font-size: 18px;
    }
    & .title-wrapper a.topic-featured-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
    }
    & .title-wrapper {
        width: 100%;
    }
    & .edit-topic-title {
        max-width: 100%;
        &:before {
            content: "Edit Topic Title and Category";
            margin-bottom: 20px;
            font-size: 22px;
            font-weight: 600;
            line-height: 30px;
        }
        & #edit-title {
            flex: 1 1 100%;
            margin: 0 0 20px 0;
            color: var(--color-shuttle-gray);
            font-size: 15px;
            font-weight: 500;
            line-height: 20px;
            text-indent: 10px;
        }
        & .category-chooser {
            margin: 0 0 20px 0;
        }
        & .select-kit.combo-box .select-kit-header {
            justify-content: space-between;
            padding: 0;
            font-size: 15px;
            font-weight: 500;
            line-height: 20px;
        }
        & .edit-controls {
            width: 100% !important;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            & .submit-edit {
                margin-right: 20px;
                padding: 0 19px 0 11px;
                &:after {
                    content: "Confirm";
                    font-size: 15px;
                    font-weight: 800;
                    line-height: 20px;
                    text-indent: 14px;
                }
            }
            & .cancel-edit {
                margin-right: 0;
                padding: 0 19px;
                color: var(--color-blue-ribbon);
                background: var(--color-white);
                border: 1px solid var(--color-blue-ribbon);
                border-radius: 6px;
                & .d-icon {
                    display: none;
                }
                &:after {
                    content: "Cancel";
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 20px;
                }
            }
        }
        & .select-kit {
            &.is-expanded {
                & .select-kit-body {
                    min-width: auto !important;
                    padding: 15px 20px 0;
                    border: 1px solid var(--color-mischka);
                    border-radius: 8px;
                    box-shadow: none;
                }
                & .select-kit-collection {
                    border-radius: 0;
                    & li {
                        padding: 14px 0 14px 7px;
                        &:not(:last-child) {
                            border-bottom: 1px solid var(--color-mischka);
                        }
                        & .badge-wrapper .badge-category .category-name {
                            color: var(--color-charcoal-gray);
                            font-size: 15px;
                            font-weight: normal;
                            line-height: 20px;
                            &:hover {
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
            &.single-select {
                &.is-expanded {
                    & .select-kit-header {
                        &:not(.btn) {
                            border: 1px solid var(--color-blue-ribbon);
                            outline: 0;    
                        }
                    }
                }
                & .select-kit-header {
                    & .caret-icon {
                        margin-left: 19px;
                        color: var(--color-charcoal-gray);
                        font-size: 12px;
                    }
                    &:not(.btn) {
                        &:active {
                            border: 1px solid var(--color-blue-ribbon);
                            outline: 0; 
                        }
                        
                        &:focus {
                            border: 1px solid var(--color-blue-ribbon);
                            outline: 0; 
                        }
                    }
                }
                & .select-kit-filter {
                    &.is-expanded {
                        display: flex;
                        flex-direction: row-reverse;
                        padding: 0 12px;
                        border: 1px solid var(--color-mischka);
                        border-radius: 8px;
                    }
                    & .filter-icon {
                        margin-right: 8px;
                        margin-left: 0;
                        color: var(--color-shark);
                        font-size: 24px;
                    }
                }
            }
            &.combo-box {
                & .select-kit-filter {
                    & .filter-input {
                        color: var(--color-aluminium);
                        font-weight: 500;
                    }
                }
            }
            & .select-kit-row {
                & .category-desc {
                    display: none;
                }
                & .topic-count {
                    display: none;
                }
                &.is-selected {
                    &.is-highlighted {
                        background: var(--color-white);
                    }
                    &.is-selected {
                        background: var(--color-white);
                    }
                }
                &.is-highlighted {
                    background: var(--color-white);
                    font-weight: bold;
                }
            }
        }
    }
}

.topic-navigation {
    height: 40px;
    & .topic-timeline .keyboard-target-admin-menu {
        background: var(--color-white);
        border: 1px solid var(--color-mischka);
        & .d-icon {
            color: var(--color-granite-gray);
        }
        &:hover {
            background: var(--color-white);       
        }
    }
    & .popup-menu {
        width: 270px;
        border: 1px solid var(--color-mischka);
        border-radius: 8px;
        box-shadow: none;
        overflow: hidden;
        & ul li {
            border: 0;
            & .btn {
                padding: 19px 24px;
                & .d-icon {
                    align-self: center;
                    width: 18px;
                    height: 18px;
                    margin-right: 20px;
                    color: var(--color-granite-gray);
                    &.d-icon-list {
                        background: url($cg-history-icon) no-repeat center;
                        background-size: contain;
                        & > use {
                            display: none;
                        }
                    }
                }
                & .d-button-label {
                    color: var(--color-charcoal-gray);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 22px;
                }
            }
        }
        & .popup-menu .btn.popup-menu-btn-danger {
            & .d-button-label, .d-icon {
                color: var(--color-red-orange);
            }
        }
    }
}

.topic-body {
    width: calc(100% - 60px);
    padding: 25px 0 0 15px;
    border: 0;
    & .cooked {
        padding: 11px 0 0 11px;
    }
    &.highlighted {
        animation: none;
    }
    & .topic-meta-data {
        padding: 0 0 0.25em 11px;
    }
}

.post-stream {
    border-top: 1px solid var(--color-mischka);
    border-bottom: 1px solid var(--color-mischka);  
    & .topic-post {
        &:nth-child(n+2) {
            margin-left: 70px;
            padding-top: 36px;
            border-bottom: 1px solid var(--color-mischka);  
        }
        &:last-child {
            border-bottom: 0;  
        }
    }
    & .gap {
        display: none;
    }
    & .small-action {
        display: none;
    }
}

.topic-post article.boxed {
    & img.avatar {
        width: 50px;
        height: 50px;
    }
    & .names span a {
        color: var(--color-charcoal-gray);
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }
    & .post-info.edits .widget-button {
        color: var(--color-blue-ribbon) !important;
    }
    & span.relative-date {
        color: rgba(43, 42, 53, 0.5);
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }
    & .topic-avatar {
        border: 0;
    }
}

.topic-above-footer-buttons-outlet.presence {
    display: none;
}

#topic-footer-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 18px 0;
    & .topic-footer-main-buttons {
        flex: 0 0 auto;
        align-items: baseline;
        margin-top: 0;
        & .topic-admin-menu-button-container {
            align-self: flex-start;
            & button {
                margin-right: 6px;
                border: 1px solid var(--color-mischka);
                border-radius: 6px;
            }
            & .popup-menu button {
                border-radius: 0;
            }
        }
        & #topic-footer-button-share-and-invite {
            border-left: 1px solid var(--color-mischka);
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }
        & button {
            height: 40px;
            margin: 0;
            padding: 5px 11px;
            background: var(--color-white);
            color: var(--color-granite-gray);
            border: 1px solid var(--color-mischka);
            border-left: 0;
            border-radius: 0;
            & .d-icon {
                color: var(--color-granite-gray);
            }
            &.create {
                background: var(--color-blue-ribbon);
                color: var(--color-white);
                border: 1px solid var(--color-blue-ribbon);
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                & .d-icon {
                    color: var(--color-white);
                }
            }
        }
        & .topic-admin-popup-menu {
            width: 270px;
            border: 1px solid var(--color-mischka);
            border-radius: 8px;
            box-shadow: none;
            overflow: hidden;
            & ul {
                li {
                    border: 0;
                    & .btn {
                        padding: 30px 24px;
                        border: 0;
                        & .d-icon {
                            align-self: center;
                            width: 18px;
                            height: 18px;
                            margin-right: 20px;
                            color: var(--color-granite-gray);
                        }
                        & .d-button-label {
                            color: var(--color-charcoal-gray);
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 22px;
                        }
                        & .d-icon-list {
                            background: url($cg-history-icon) no-repeat center;
                            background-size: contain;
                            & > use {
                                display: none;
                            }
                        }
                    }
                }
                & .popup-menu .btn.popup-menu-btn-danger {
                    & .d-button-label, .d-icon {
                        color: var(--color-red-orange);
                    }
                }
            }
        }
    }
    & .topic-notifications-button {
        margin: 0;
        & .reason {
            flex-direction: column;
            align-items: end;
            & .notifications-button  {
                max-width: 160px;
                & .select-kit-selected-name {
                    margin-right: 25px;
                    padding: 0;
                }
                & .select-kit-header .d-icon {
                    padding: 0;
                }
            }
            & .text {
                margin-top: 10px;
                color: var(--color-aluminium);
                font-size: 15px;
                font-weight: 500;
                line-height: 20px;
            }
            & .select-kit-body {
                width: 530px;
                max-width: 530px;
                border: 1px solid var(--color-mischka);
                border-radius: 8px;
                box-shadow: none;
                & .select-kit-collection {
                    border-radius: 8px;
                    & .select-kit-row {
                        padding: 15px 25px;
                        & .icons {
                            margin-top: 4px;
                        }
                        & .texts {
                            & .name {
                                color: var(--color-charcoal-gray);
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 22px;
                            }
                            & .desc {
                                min-width: 320px;
                                margin-top: 3px;
                                color: var(--color-charcoal-gray);
                                font-size: 15px;
                                font-weight: normal;
                                line-height: 20px;
                            }   
                        }
                    }
                }
            }
        }
    }
    & .topic-notifications-button .reason .dropdown-select-box .name {
        color: var(--color-granite-gray);
        font-size: 15px;
        font-weight: 800;
        line-height: 28px;
    }
    & .pinned-button {
        display: none;
    }
}

.post-admin-menu {
    width: 270px;
    border: 1px solid var(--color-mischka);
    border-radius: 8px;
    box-shadow: none;
    overflow: hidden;
    & ul {
        li {
            border: 0;
            & .btn {
                padding: 20px 24px;
                border: 0;
                & .d-icon {
                    align-self: center;
                    width: 22px;
                    height: 21px;
                    margin-right: 20px;
                    color: var(--color-granite-gray);
                }
                & .d-button-label {
                    color: var(--color-charcoal-gray);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 22px;
                }
                & .d-icon-list {
                    background: url($cg-history-icon) no-repeat center;
                    background-size: contain;
                    & > use {
                        display: none;
                    }
                }
                & .d-icon-user {
                    background: url($cg-ownership-icon) no-repeat center;
                    background-size: contain;
                    & > use {
                        display: none;
                    }
                }
                & .d-icon-shield-alt {
                    position: relative;
                    margin-left: 0 !important;
                    background: url($cg-add-color-icon) no-repeat center;
                    background-size: contain;
                    & > use {
                        display: none;
                    }
                }
            }
        }
        & .popup-menu .btn.popup-menu-btn-danger {
            & .d-button-label, .d-icon {
                color: var(--color-red-orange);
            }
        }
    }
}

.heatmap-high {
    & .d-button-label, .d-icon {
        color: var(--color-granite-gray) !important;
    }
}

.topic-timer-info {
    border: 0;
}

.topic-map {
    background: rgba(195, 196, 198, 0.03);
    border: 2px solid var(--color-mischka);
    border-radius: 8px;
    & section {
        border: 0;
    }
    & .map {
        & .topic-map-post {
            margin-top: 10px;
        }
        & li {
            padding: 16px 20px;
            &.avatars img {
                margin-right: -25px;
                border: 2px solid var(--color-brilliance);
            }
            &:nth-child(3) {
                padding-left: 25px;
            }
        }
        & h4, h3 {
            color: var(--color-aluminium);
            font-size: 15px;
            font-weight: 500;
            line-height: 20px;
        }
        & .number {
            color: var(--color-charcoal-gray);
            font-size: 32px;
            font-weight: bold;
            line-height: 38px;
        }
        & .buttons .btn {
            height: 70px;
            margin-top: 10px;
            padding: 0 34px;
            background: rgba(195, 196, 198, 0.03);
            &:hover {
               background: rgba(195, 196, 198, 0.03); 
            }
        }
    }
    & .topic-map-post {
        & .trigger-user-card img.avatar {
            width: 30px;
            height: 30px;
        }
        &.created-at span.relative-date {
            color: var(--color-charcoal-gray);
            font-size: 16px;
            font-weight: 500;
            line-height: 2;
        }
        &.last-reply span.relative-date {
            color: var(--color-charcoal-gray);
            font-size: 16px;
            font-weight: 500;
            line-height: 2;
        }
    }
    & .avatars, .links {
        padding: 7px 20px;
    }
    & h4, h3 {
        color: var(--color-aluminium);
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
    }
}

.post-menu-area {
    & button span {
        color: var(--color-charcoal-gray);
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
    }
}

.container.posts {
    grid-template-columns: 100%;
}

aside.onebox {
    padding: 20px;
    background: rgba(195, 196, 198, 0.03);
    border: 2px solid var(--color-mischka);
    border-radius: 8px;
    & .onebox-body {
        & .aspect-image {
            max-width: 25%;
            width: 100%;
            & img.thumbnail {
                max-width: 100%;
            }
        }
        & img.thumbnail {
            max-width: 25%;
            border-radius: 10px;
        }
        & h3, h4 {
            padding: 25px 0 0 30%;
            font-size: 22px;
            font-weight: 600;
            line-height: 22px;
            & a[href] {
                color: var(--color-blue-ribbon) !important;
            }
        }
        & p:last-child {
            padding-left: 30%;
            padding-right: 5%;
            color: var(--color-shuttle-gray);
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
        }
        & a[href] {
            color: var(--color-shuttle-gray) !important;
        }
    }
    & header {
        margin-bottom: 18px;
        padding-left: 35px;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        & img {
            content: url($cg-link-icon);
        }
    }
}

.timeline-container {
    & .topic-timeline {
        & .timeline-ago, .start-date, .now-date {
            color: var(--color-aluminium);
            font-size: 15px;
            font-weight: 500;
            line-height: 20px;
        }
        & .timeline-scrollarea {
            border-left: 4px solid;
            border-color: rgba(5, 96, 255, 0.15);
        }
        & .timeline-scroller {
            margin-left: -6px;
        }
        & .timeline-handle {
            width: 8px;
            background: var(--color-blue-ribbon);
        }
        & .timeline-replies {
            font-size: 15px;
            font-weight: 500;
            line-height: 20px;
        }
        & .timeline-footer-controls {
            align-items: center;
            & .btn {
                background: var(--color-white);
                border: 1px solid var(--color-mischka);
                & .d-icon {
                    color: var(--color-granite-gray);
                }
            }
            & .widget-component-connector .btn {
                width: 40px;
                height: 40px !important;
                justify-content: center;
            }
        }
    }
}

.suggested-topics .suggested-topics-title {
    padding-left: 5px;
    font-size: 22px;
    font-weight: 600;
    line-height: 60px;
}

.suggested-topics-message {
    font-size: 22px;
    font-weight: 600;
    line-height: 60px;
    & a {
        color: var(--color-blue-ribbon);
        font-size: 22px;
        font-weight: 600;
        line-height: 60px;
        &.badge-wrapper {
            padding: 9px 11px;
            border: 1px solid var(--color-mischka);
            border-radius: 8px;
        }
    }
}
