//   _    _                 __  __
//  | |  | |               |  \/  |
//  | |  | |___  ___ _ __  | \  / | ___ _ __  _   _
//  | |  | / __|/ _ \ '__| | |\/| |/ _ \ '_ \| | | |
//  | |__| \__ \  __/ |    | |  | |  __/ | | | |_| |
//   \____/|___/\___|_|    |_|  |_|\___|_| |_|\__,_|

#quick-access-notifications,
#quick-access-messages,
#quick-access-profile,
#quick-access-bookmarks {
  text-transform: capitalize;
  a,
  button {
    color: var(--color-charcoal-gray);
    margin: 0 0;
    padding: 20px 0;
    border-bottom: 1px solid var(--color-mischka);
    .d-icon {
      margin-right: 12px;
    }
  }
  .logout {
    button {
      border-bottom: none;
    }
  }
  li:hover {
    background-color: var(--color-white);
  }
}

.menu-links-row {
  .widget-button {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 22px !important;
    padding-bottom: 15px !important;
    border: none !important;
    .d-icon {
      display: none;
    }
    &.active {
      border-bottom: 2px solid !important;
      color: var(--color-blue-ribbon) !important;
      background-color: var(--secondary) !important;
      font-weight: 600 !important;
    }
    &:hover {
      color: var(--color-blue-ribbon) !important;
      background-color: var(--secondary) !important;
    }
    &#notifications:after {
      content: "Notifications";
    }
    &#bookmarks:after {
      content: "Bookmarks";
    }
    &#messages:after {
      content: "Messages";
    }
    &#profile:after {
      content: "Preferences";
    }
  }
}

.panel-body-bottom {
  .widget-link {
    background-color: white !important;
    border: 1px solid var(--color-blue-ribbon) !important;
    flex: none !important;
    margin-right: 21px !important;
    .d-icon {
      padding: 10px 16px 10px 13px;
      margin: 0 !important;
      color: var(--color-blue-ribbon) !important;
    }
    .d-label:after {
      content: "View all notifications";
      padding-right: 10px;
      color: var(--color-blue-ribbon);
    }
  }
  .widget-button.notifications-dismiss,
  .widget-button.notifications-dismiss:hover {
    background-color: var(--color-blue-ribbon);
    color: white !important;
    padding-left: 12px !important;
    padding-right: 14px !important;
    .d-icon {
      color: white !important;
    }
  }
}

.menu-panel.drop-down {
  width: 480px !important;
}
