<div class="headerMain">
  <div id="headerInfo">
    <a href="https://www.caregiving.com" class="headerLogo"></a>
    <button id="headerUser" class="headerUser">
      <p id="headerUsername"></p>
      <i id="headerUserIcon" class="headerUserIcon fa fa-caret-down"></i>
      <div id="userOptions">
        <a href="https://www.caregiving.com/manage/account">Account</a>
        <div></div>
        <a id="logOut">Log out</a>
      </div>
    </button>
    <button id="headerSignIn" class="headerUser">Sign in</button>
  </div>
</div>
